<div class="container">
    <h2 class="m-5 text-center"><b>{{ 'essays.essays' | translate }}</b></h2>

    <div class="row mb-5">
        <p class="col-md">Chacun de ces parcours vous emmène dans une brève visite guidée
            pour se promener parmi les œuvres et les documents d'archives, dans le monde de Gustave Roud.
        Les parcours sont des textes courts, adaptés à un public varié, qui permettent de
        se rapprocher au style et aux thématiques de l'écriture roudienne et offrent une
        porte d'entrée dans les contenus de ce site.</p>
    </div>
    
    <div class="row">
        <!-- use classes "d-flex align-items-stretch" to have same height for all cards-->
        <div class="col-md-3" *ngFor="let essayLight of essaysLight">
            <div class="card">
                <a routerLink="/essays/{{ essayLight?.id | encodeURIComponent }}">
                    <or-essay-photo [essayPhotoId]="essayLight?.photo"></or-essay-photo>
                    <div class="card-body">
                        <h5 class="card-title">{{essayLight?.title}}</h5>
                    </div>
                </a>
            </div>
        </div>

</div>



