.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lightsteelblue;
    height: 60px; /* margin-bottom on main should correspond or be bigger, to avoid overlap*/
    z-index: 1000;   /* viene davanti a tutto ciò che ha un z-index più basso, cioè tutto */
  }