<div class="container">

    <!-- breadcrumbs -->
    <div class="breadcrumbNavbar my-4">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Accueil</a></li>
            <li class="breadcrumb-item active" aria-current="page">Technical documentation</li>
          </ol>
        </nav>
    </div>


    <img src="assets/img/test1.png">

    <div class="my-5" id="toc">
        <ul>
            <li><a href="/tech#infra">Infrastructure and code</a></li>
            <li><a href="/tech#api">DSP API</a></li>
            <li><a href="/tech#data">Data dumps</a></li>
            <li><a href="/tech#geno">GEN-O (a GENetic criticism Ontology)</a></li>
        </ul>
    </div>

    <div>More to come</div>

</div>