<div class="container">
   
   <or-progress-indicator *ngIf="loadingResults>0" ></or-progress-indicator>

   <!-- breadcrumbs -->
   <div class="breadcrumbNavbar my-4">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Accueil</a></li>
                <li class="breadcrumb-item">Œuvres citées (pas de Gustave Roud)</li>
                <li class="breadcrumb-item active" aria-current="page">
                    <span [innerHtml]="work?.title | removeTextAndPar | htmlSanitizer"></span>
                </li>
            </ol>
        </nav>
    </div>

    <!-- NAME AND DATES -->
    <div class="py-4 row"> <!-- bootstrap class: vertical padding 3 -->
        <h3>
            <span *ngFor="let workAuthor of workAuthors | sortBySurname">
                    {{ workAuthor?.name }} {{ workAuthor?.surname }}, </span>
            <i [innerHtml]="work?.title | removeTextAndPar | htmlSanitizer"></i>
            <span *ngIf=work?.date>, {{ work?.date | knoradatesYmdFormatting }}</span>
            
        </h3>
    </div>

    <!-- NOTICE -->
    <div class="py-4 notice row" *ngIf=work?.notice>
        <p [innerHtml]="work?.notice | htmlSanitizer" orResourceLink></p>
    </div>

    <!-- LIST OF TEXTS IN WHICH IS MENTIONED -->
    <div class="py-4 row mention" *ngIf="mentioningTexts && mentioningTexts.length > 0"> <!-- only show if there are texts -->
        <div>
            <strong>Occurrences dans les recueils :</strong>
        </div>
        <br/>
        <div class="col-12">
            <ul class="mention-item">
                <li *ngFor="let mentioningText of mentioningTexts">
                    - <em
                    [innerHTML]="mentioningText.title | removeTextAndPar | htmlSanitizer"></em>
                    &nbsp;(<a routerLink="/texts/{{ mentioningText.id | encodeURIComponent }}">texte</a>
                    | <a routerLink="/archive/pub/{{ mentioningText.baseWitPub | encodeURIComponent }}">archives</a>)
                </li>
            </ul>
        </div>
    </div>

    <br/><br/>
    <!-- PERMANENT IDENTIFIERS -->
    <div class="my-5 permanentId row">
        <p>
            <strong>ARK (permalien)</strong> : {{ work?.ark }}
            <br/>
            <strong>URL</strong> : https://roud.unil.ch/resources/{{ work?.id | encodeURIComponent }}
            <br/>
            <strong>IRI interne</strong> : {{ work?.id }}
        </p>
    </div>

</div>
