<ul>
    <li class="liGenesis" *ngFor="let pbReused of pbReusedInPart">
        <!-- if routerLink=/archive/pub/iri, it will not refresh but add data
            because it is the same component, so need to pass through /resources -->  

        <span *ngIf="pbReused?.resourceClassLabel == 'Book'">
            <or-book [bookIRI]="pbReused?.id" [withAuthor]="'no'"></or-book>
        </span>
        <span *ngIf="pbReused?.resourceClassLabel == 'Book section'">
            <or-book-section [bookSectionIRI]="pbReused?.id" [withAuthor]="'no'"></or-book-section>
        </span>
        <span *ngIf="pbReused?.resourceClassLabel == 'Periodical article'">
            <or-article [articleIRI]="pbReused?.id" [withAuthor]="'no'"></or-article>
        </span>

        <span *ngIf="pbReused?.resourceClassLabel == 'Part of a publication'">
            {{ pbReused?.title }}
            (partie de 
            <span *ngIf="pubOfParts2 != null">
                <or-book [bookIRI]="pubOfParts2?.id" [withAuthor]="'no'"></or-book>
            </span>)
        </span>
    </li>
</ul>