<!--<h2 class="p-3">{{ 'home.welcome' | translate }}</h2>-->

<p class="m-2">
  {{ 'home.go-to' | translate }}
  <a href="{{ knoraAppUrl }}" target="_blank">Knora-app</a> (production mode:
  {{ prodMode }})
</p>

<div class="row justify-content-center">
  <p class="m-5 col-6">{{ 'home.presentation' | translate }}</p> 
  <!-- the pragraph takes four columns, centered (see class of div) with large margins-->
</div>

<div class="row justify-content-center">
  <img src="assets/img/test2.jpg" class="img-fluid" width="50%">
</div>