<div class="container">

  <!--<h2 class="p-3">{{ 'home.welcome' | translate }}</h2>-->

  <div class="row justify-content-center">
    <p class="m-5 jumbotron col-4">{{ 'home.presentation' | translate }}</p> 
  </div>
  
  <div class="row">
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <img src="assets/img/test2.jpg" class="img-fluid">
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <img src="assets/img/test2.jpg" class="img-fluid">
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <img src="assets/img/test2.jpg" class="img-fluid">
      </div>
    </div>

  </div>

</div>