<div class="container-fluid px-0">
  <!-- by default it has padding right and left 15, so need to specify px-0-->

    <!-- carousel-->
    <ngb-carousel>
        <ng-template ngbSlide>  
            <img class="carousel-img" width="100%" src="assets/img/homePage/IS-5336-00819_detail.png"> 
        </ng-template>  
        <ng-template ngbSlide>  
            <img class="carousel-img" width="100%" src="assets/img/homePage/IS-5336-02669_detail.png">
        </ng-template>  
        <ng-template ngbSlide>  
            <img class="carousel-img" width="100%" src="assets/img/homePage/IS-5336-04650_detail.png">
        </ng-template>  
    </ngb-carousel>  


    <div class="container">
        <!-- short intro -->
        <div class="row justify-content-center mx-2 row-intro">
            <div class="col-lg-10">
                <p class="p-intro">
                    Découvrez les archives de Gustave Roud (1897-1976), ses manuscrits et ses publications. Suivez les
             parcours guidés parmi les textes, les lieux et les personnes qui habitent le monde
             d'un des principaux auteurs francophones de Suisse.
                </p> 
            </div>
        </div>






        <!-- SECTIONS DU SITE -->
        <div class="row">
            <!-- ARCHIVES -->
            <div class="col-md-3 col-pick mb-3 p-3">
                    <img src="https://iiif.ls-prod-server.dasch.swiss:443/0112/56dbCD6uLSN-CUpDrNBigj7.jp2/full/1044,771/0/default.jpg" width="100%" alt=""
                    class="rounded border"/>
            </div>
            <div class="col-md-3 mb-3 pl-0">
                <div class="col-pick p-3">
                    <a [routerLink]="['/archive']"><h3>Archives</h3></a>
                <p class="p-desc">Feuilleter les manuscrits et les publications, découvrir leurs liens génétiques.
                </p>
                </div>
            </div>
            <!-- RECUEILS -->
            <div class="col-md-3 col-pick mb-3 p-3">
                <img src=" https://iiif.ls-prod-server.dasch.swiss:443/0112/IoeDqoosZ1e-FigZyZf7yNu.jp2/full/1044,771/0/default.jpg" width="100%" alt=""
                        class="rounded border"/>
            </div>
            <div class="col-md-3 mb-3 pl-0">
                <div class="col-pick p-3">
                    <a [routerLink]="['/texts']"><h3>Recueils</h3></a>
                    <p class="p-desc">Lire les dix œuvres majeurs publiés entre 1927 et 1972, choisisser le mode de lecture.
                    </p>
                </div>
            </div>
        </div>  <!-- end row -->


        <div class="row">
            <!-- PARCOURS -->
            <div class="col-md-3 col-pick mb-3 px-3 py-2">
                    <a [routerLink]="['/essays']"><h3>Parcours</h3></a>
                    <p class="p-desc">Accéder au monde de l'auteur à travers des textes courts sur des thématiques variées.
                    </p>
            </div>
            <div class="col-md-3 mb-3 pl-0">
                <div class="col-pick p-3">
                <img src=" https://iiif.ls-prod-server.dasch.swiss:443/0112/JR6BRzwbKMb-CxL6KUEkvpG.jp2/full/1044,771/0/default.jpg" width="100%" alt=""
                        class="rounded border"/>
                        </div>
            </div>
            <!-- BIO -->
            <div class="col-md-3 col-pick mb-3 px-3 py-2">
                    <a [routerLink]="['/bio']"><h3>Biographie</h3></a>
                    <p class="p-desc">Parcourir une biographie riche et agile et suivre les étapes de la vie de l'auteur.
                    </p>
            </div>
            <div class="col-md-3 mb-3 pl-0">
                <div class="col-pick p-3">
                <img src=" https://iiif.ls-prod-server.dasch.swiss:443/0112/8vLTSemqJUq-D3dtlTEN5ao.jp2/full/1044,771/0/default.jpg" width="100%" alt=""
                        class="rounded border"/>
                        </div>
            </div>
        </div>  <!-- end row -->


        <div class="row">
            <div class="col-md-3 col-pick mb-3 p-3">
                    <img src=" https://iiif.ls-prod-server.dasch.swiss:443/0112/55L7XNwYvsX-FTeiCqY5hfV.jp2/full/1044,771/0/default.jpg" width="100%" alt=""
                    class="rounded border"/>
            </div>
            <div class="col-md-3 mb-3 pl-0">
                <div class="col-pick p-3">
                    <a [routerLink]="['/search']"><h3>Recherche</h3></a>
                    <p class="p-desc">Faire des recherches, poser des questions et déviner les noms derrière les images.
                    </p>
                    </div>
            </div>
            <div class="col-md-6 mb-3 pl-0">
                <div class="col-pick p-3" style="text-align: center ;">
                <img src=" https://iiif.ls-prod-server.dasch.swiss:443/0112/J6Q9nfyM5Kn-C8brQnmP4yI.jp2/full/2020,771/0/default.jpg" width="93%" alt=""
                        class="rounded border"/>
                        </div>
            </div>
        </div>  <!-- end row -->


        <div class="row row-intro">

            <div class="col-12">
                <or-still-image #stillImage class="dsp-representation stillimage"
                    [images]="images"
                    [iiifUrl]="iiifURL" 
                    [resourceIri]="dataVizIri_PourUnMoissonneur"
                    [project]="projectIri"
                    >
                </or-still-image>
                <!--
                    [currentTab]="selectedTabLabel"
                    [compoundNavigation]="compoundPosition" 
                    [imageCaption]="(pub.label + ': ' + incomingResource.res.label : resource.res.label)"
                    [parentResource]="incomingResource ? incomingResource.res : resource.res"
    
                    (loaded)="representationLoaded($event)"
                    (goToPage)="compoundNavigation($event)"
                -->
            </div>
            <p class="p-dataviz mt-3">Constellation génétique de 
                <a [routerLink]="['/archive/pub/http%3A%2F%2Frdfh.ch%2F0112%2FD2oSkK2-QA-gw4ZVemxIBQ']">
                    <em>Pour un moissonneur</em></a>&nbsp;&nbsp;(1941).
                </p>
        </div>
        <br/>

       
    </div>

</div>
