
@import 'src/styles.scss';
 

.row-intro {
    margin:100px 0 100px 0;
}

.p-intro {
    font-size: x-large;
}

.p-desc {
    font-size: x-large;
    margin-bottom: 0px;
}

.p-dataviz {
    width: 100%;
    text-align: center;
    font-size: x-large;
}

.col-pick-1 {
    background-color: #f5f5f5; // eef6fb;
}

.col-pick-2 {
    background-color: #f5f5f5; // fff8eb;
}

.col-pick-3 {
    background-color: #f5f5f5; // f2f7f4;
}

.col-pick-4 {
    background-color: #f5f5f5; // f5f5f5;
}