@import 'src/styles.scss';

#chrono-text {
    font-size:x-large;
}

.chrono-date {
    font-weight: bold;
}

#chrono-list {
    list-style: none;
    font-size: x-large;
}

#toTop {
    font-size: xx-large;
    font-weight: bolder;
}