<div class="container">

    <!-- breadcrumbs -->
    <div class="breadcrumbNavbar my-4">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Accueil</a></li>
            <li class="breadcrumb-item active" aria-current="page">Biographie</li>
          </ol>
        </nav>
    </div>

    <!-- HEADER -->
    <div id="title" class="py-5 page-title">
        <h3>Gustave Roud (1897-1976)</h3>
    </div>

    <div class="row">

        <!-- MAIN TEXT -->
        <div id="chrono-text" class="col-10">
                <div>
                    <span class="chrono-date">1897</span>
                    <p> Gustave Henri Roud naît le 20 avril au Chalet-de-Brie, à Saint-Légier (au-dessus de
                        Vevey), domaine que son grand-père paternel avait pris à ferme. La famille Roud est
                        originaire d’Ollon. Gustave Roud et sa sœur Madeleine Roud (1893-1971) fréquentent en
                        premier lieu l’école particulière que leurs deux tantes paternelles tiennent à
                        Saint-Légier.</p>
                </div>
                <div>
                    <span class="chrono-date">1907-1908</span>
                    <p> Élève au Collège de Vevey. Il y fait la connaissance de Steven-Paul Robert.</p>
                </div>
                <div>
                    <span class="chrono-date">1908</span>
                    <p> Déménagement de la famille Roud à Carrouge dans la région vaudoise du Jorat, dans la
                        ferme du grand-père maternel, Daniel Coigny, décédé trois ans plus tôt. Roud et sa sœur
                        y habiteront toute leur vie, d’abord avec leurs parents, leur grand-mère et leurs tantes
                        maternelles, puis, à partir de 1941, avec également leur tante paternelle, Marguerite
                        Roud.</p>
                </div>
                <div>
                    <span class="chrono-date">1908-1913</span>
                    <p> Collège classique de Lausanne. Roud y a pour professeurs Ernest Ansermet pour les
                        mathématiques et Edmond Gilliard pour le français.</p>
                </div>
                <div>
                    <span class="chrono-date">1913-1915 </span>
                    <p>Gymnase classique cantonal à Lausanne. Il y retrouve Steven-Paul Robert, qui lui présente
                        Georges Nicole. Il a pour professeur d’histoire Charles Gilliard, et pour les
                        mathématiques Henri Roorda.</p>
                </div>
                <div>
                    <span class="chrono-date">1915</span>
                    <p> Le 16 juillet, bachelier ès lettres, mention latin-grec. Publication de ses premiers
                        poèmes, dans les <i>Cahiers vaudois</i> (<i>Poèmes et nouvelles</i>, 5<sup>e</sup> cahier
                        de la 2<sup>e</sup> série).</p>
                </div>
                <div>
                    <span class="chrono-date">1915-1919</span>
                    <p> Etudes de lettres à l’université de Lausanne. Licence ès lettres classiques.</p>
                </div>
                <div>
                    <span class="chrono-date">1916</span>
                    <p> En mai, début du <i>Journal</i>, qui s’achèvera en octobre 1971.<br/>Du 27 septembre au 2
                        décembre, école de recrues V/1 dans l’infanterie, comme carabinier, à la caserne de
                        Lausanne (67 jours). Incorporé dans le bataillon de fusiliers 1.</p>
                </div>
                <div>
                    <span class="chrono-date">1917 </span>
                    <p>Incorporé dans le bataillon de fusiliers 3 (compagnie de fusiliers IV/3). École de
                        sous-officiers de la 1<sup>re</sup> division (31 jours). Caporal le 2 juin. École
                        d’officiers d’infanterie de la 1<sup>re</sup> division (89 jours). Nommé lieutenant le
                        31 décembre 1917. En 1917, effectue deux périodes de mobilisation de guerre (16 et 18
                        jours).</p>
                </div>
                <div>
                    <span class="chrono-date">1918</span>
                    <p> Deux périodes de service militaire actif (72 et 12 jours).</p>
                </div>
                <div>
                    <span class="chrono-date">1919-1922</span>
                    <p> Roud publie des poèmes dans <i>La</i>
                        <i>Revue romande</i>, puis y donne des chroniques d’art et de littérature. Il collabore
                        également à la <i>Feuille d’avis de Vevey</i> et à la <i>Tribune de Lausanne</i>. La
                        publication d’un article sur « Quelques peintres romands à la XV<sup>e</sup> Exposition
                        nationale des Beaux-Arts », le 19 octobre 1922 dans ce dernier journal, marque le début
                        de la correspondance avec René Auberjonois.</p>
                </div>
                <div>
                    <span class="chrono-date">1920</span>
                    <p> En février, pendant deux semaines, Roud remplace Emmanuel Buenzod comme professeur au
                        Collège de Vevey.<br/>Au printemps (avril), voyage en Toscane, où il rejoint à Florence
                        Steven-Paul Robert et Jean Viollier.</p>
                </div>
                <div>
                    <span class="chrono-date">1921</span>
                    <p> Dans la deuxième moitié de septembre, cours de répétition à Sainte-Croix (13 jours). Le
                        31 décembre, il est nommé premier lieutenant.</p>
                </div>
                <div>
                    <span class="chrono-date">1922</span>
                    <p> De janvier à avril, remplacement comme professeur au Collège de Vevey (latin et
                        français). Du 24 avril au 6 mai, cours de répétition à Gollion (13 jours).</p>
                </div>
                <div>
                    <span class="chrono-date">1923</span>
                    <p> Du 7 au 19 mai, cours de répétition à Arnex (13 jours).</p>
                </div>
                <div>
                    <span class="chrono-date">1924</span>
                    <p> Cours de répétition à Étoy (13 jours). Au début de l’automne, remplacement de quelques
                        mois au Collège de Vevey.</p>
                </div>
                <div>
                    <span class="chrono-date">1925</span>
                    <p> Du 1<sup>er</sup> au 13 juin, cours de répétition à L’Orient (13 jours). En automne,
                        court séjour à Paris en compagnie de Steven-Paul Robert. Le 22 novembre, élection des
                        autorités communales de Carrouge : Roud est élu municipal.</p>
                </div>
                <div>
                    <span class="chrono-date">1927</span>
                    <p> Roud s’adresse à Henry-Louis Mermod en vue de l’édition de son premier volume,
                            intitulé <i>Adieu</i>. Celui-ci paraît à compte d’auteur en décembre, à l’enseigne du
                        Verseau, à Lausanne. Roud en envoie un exemplaire à Ramuz, inaugurant par là leurs
                        échanges.</p>
                </div>
                <div>
                    <span class="chrono-date">1927-1929</span>
                    <p> Atteint de tuberculose, Roud est victime d’une grave affection pulmonaire ; il est
                        traité au Sanatorium populaire neuchâtelois de Beau-Site, à Leysin, de décembre 1927
                        à avril 1929, effectuant à plusieurs reprises de courtes visites à Carrouge.</p>
                </div>
                <div>
                    <span class="chrono-date">1929</span>
                    <p>Au début de l’année, son père renonce à l’exploitation agricole familiale, vu son âge, et
                        vend son bétail.<br/>En octobre, parution de <i>Feuillets</i> aux Éditions Mermod à
                        Lausanne.<br/>À la fin de l’année, Roud démissionne de la municipalité de Carrouge, pour
                        raison de santé.</p>
                </div>
                <div>
                    <span class="chrono-date">1929-1931</span>
                    <p> Secrétaire de rédaction de la revue <i>Aujourd’hui</i>, éditée par Henry-Louis Mermod, et
                        que dirige Ramuz. Il y publie ses premières traductions, de Novalis et de Hölderlin,
                        mais aussi des « Notes » et des textes poétiques.</p>
                </div>
                <div>
                    <span class="chrono-date">1930</span>
                    <p> Le 16 juin, mort de son père, Samuel Roud, né en 1862.</p>
                </div>
                <div>
                    <span class="chrono-date">1931 </span>
                    <p>Le 3 février, mort d’Élise Coigny, sa grand-mère du côté maternel. Le 16 mai, mort
                        d’Alice Coigny, une tante du côté maternel.</p>
                </div>
                <div>
                    <span class="chrono-date">1932</span>
                    <p> En juin, parution de <i>Petit traité de la marche en plaine suivi de lettres, dialogues
                            et morceaux</i>, aux Éditions Mermod à Lausanne.</p>
                </div>
                <div>
                    <span class="chrono-date">1933</span>
                    <p> Le 5 mars, mort de sa mère, Constance Roud-Coigny, née en 1864.<br/>En mai, parution
                            d’<i>Essai pour un paradis</i> chez Mermod à Lausanne, dans les cahiers
                            d’<i>Aujourd’hui</i> (cahier n<sup>o</sup> 121, antidaté de novembre 1932).</p>
                </div>
                <div>
                    <span class="chrono-date">1934</span>
                    <p> Roud remporte un concours ouvert aux « écrivains de la Suisse française âgés de moins de
                        40 ans » organisé par la Société des écrivains suisses. Il est le lauréat dans la
                        catégorie « roman », pour <i>Essai pour un paradis</i>.<br/>Il commence à collaborer, par
                        des articles et par des photographies, avec le magazine <i>L’Illustré </i>; il y signera
                        des contributions jusqu’en 1943.</p>
                </div>
                <div>
                    <span class="chrono-date">1935</span>
                    <p> En avril, il passe dix jours à Paris sur l’invitation de Steven-Paul Robert. Le 12
                        décembre, il est exempté du service militaire pour raison de santé.</p>
                </div>
                <div>
                    <span class="chrono-date">1936</span>
                    <p> Albert Mermoud crée à Lausanne la Guilde du livre, maison d’édition par correspondance
                        qu’il dirigera jusqu’à la disparition de l’entreprise en 1976 ; Roud est un des membres
                        fondateurs. Jusqu’à leur dissolution en 1966, il fera partie du comité de lecteur et du
                        jury du prix de la Guilde, créé en 1941. Durant cette période, Roud prend encharge
                        d’importants travaux pour la maison lausannoise – traductions, préfaces, relectures de
                        manuscrits – et collabore régulièrement au <i>Bulletin de la Guilde du livre</i>.</p>
                </div>
                <div>
                    <span class="chrono-date">1937 </span>
                    <p>Il fait la connaissance de Georges Borgeaud, avec qui il correspond depuis 1936.</p>
                </div>
                <div>
                    <span class="chrono-date">1939</span>
                    <p> Roud fait la connaissance de Maurice Chappaz, avec qui il correspondra jusqu’à la fin de
                        sa vie.</p>
                </div>
                <div>
                    <span class="chrono-date">1941</span>
                    <p> En avril, parution de <i>Pour un moissonneur</i> aux Éditions Mermod à Lausanne. Cet
                        ouvrage vaut à Roud le prix Rambert, qui lui est remis le 27 juin. Philippe Jaccottet,
                        venu écouter le discours de Ramuz lors de cette cérémonie, y fait la découverte de
                        Roud.<br/>Roud devient chef de la Garde locale de Carrouge.</p>
                </div>
                <div>
                    <span class="chrono-date">1942</span>
                    <p> Le 27 février, Philippe Jaccottet écrit pour la première fois à Roud, sollicitant une
                        dédicace sur son exemplaire de <i>Pour un moissonneur</i>. En novembre, parution de
                            <i>Poëmes de Hölderlin</i>, traduction de Gustave Roud, aux Éditions Mermod à
                        Lausanne.<br/>Il collabore à <i>La Semaine de la femme</i>, par des articles et des
                        photographies ; une dizaine de ses contributions y paraissent jusqu’en 1943.</p>
                </div>
                <div>
                    <span class="chrono-date">1943</span>
                    <p> Le 26 mars, mort de la tante maternelle de Roud, Clara Coigny.</p>
                </div>
                <div>
                    <span class="chrono-date">1944</span>
                    <p> En mai, nouvelle édition d’<i>Adieu</i>, aux Portes de France à Porrentruy.<br/>Le même
                        mois, séance constitutive de l’Association des écrivains vaudois. Roud, qui y assiste,
                        devient membre de cette société.</p>
                </div>
                <div>
                    <span class="chrono-date">1945</span>
                    <p> En mars, parution d’<i>Air de la solitude</i> aux Éditions Mermod à Lausanne. Cet
                        ouvrage est distingué par un prix de la Fondation Schiller suisse.<br/>Début septembre,
                        le prix du Salon romand du livre (à Neuchâtel) est décerné à Roud pour <i>Air de la
                            solitude</i>.<br/>En décembre, parution de Rilke, <i>Lettres à un jeune poëte</i>,
                        précédées d’<i>Orphée</i> et suivies de deux essais sur la poésie, traduction de Gustave
                        Roud, aux Éditions Mermod à Lausanne.</p>
                </div>
                <div>
                    <span class="chrono-date">1947</span>
                    <p> En janvier, réédition de <i>Lettres à un jeune poëte</i> chez Mermod à Lausanne.</p>
                </div>
                <div>
                    <span class="chrono-date">1948 </span>
                    <p>En octobre, parution des <i>Disciples à Saïs</i>, <i>Hymnes à la nuit</i>,
                        <i>Journal</i>, de Novalis, traduction de Gustave Roud, aux Éditions Mermod à
                        Lausanne.</p>
                </div>
                <div>
                    <span class="chrono-date">1949</span>
                    <p> En décembre, parution de <i>Haut-Jorat</i>, aux Éditions des Terreaux à Lausanne. Roud
                        est libéré définitivement de la Garde locale le 15 novembre.</p>
                </div>
                <div>
                    <span class="chrono-date">1950</span>
                    <p> En septembre-octobre, parution des deux volumes d’<i>Écrits</i> aux Éditions Mermod à
                        Lausanne.<br/>Le 31 octobre, le Conseil d’État, sur proposition de la Commission du
                        Fonds cantonal des arts et des lettres, décide d’allouer à Roud une somme de 1000
                        francs.<br/> En décembre, création de la Fondation C. F. Ramuz ; Roud est membre du
                        conseil de direction.</p>
                </div>
                <div>
                    <span class="chrono-date">1951</span>
                    <p> En août, séjour à Salzbourg et à Innsbruck, afin de mener des recherches sur le poète
                        Georg Trakl, dont il traduit les poèmes.</p>
                </div>
                <div>
                    <span class="chrono-date">1953</span>
                    <p> Première lettre de Jacques Chessex, qui restera un proche de Roud jusqu’à sa mort.</p>
                </div>
                <div>
                    <span class="chrono-date">1955</span>
                    <p> Prix de l’Association des écrivains vaudois, doté de 5000 francs, pour l’ensemble de son
                        œuvre.</p>
                </div>
                <div>
                    <span class="chrono-date">1956 </span>
                    <p>Roud entre dans le comité de la Société des écrivains suisses, dont il sera membre
                        jusqu’en 1959.<br/> En septembre, nouvelle édition de<i>Lettres à un jeune poëte</i> de
                        Rilke, chez Mermod à Lausanne.</p>
                </div>
                <div>
                    <span class="chrono-date">1957 </span>
                    <p>Le 16 juin, Fête des lettres vaudoises, organisées à Crêt-Bérard, au-dessus de Puidoux,
                        pour le soixantième anniversaire de la naissance de Roud. Parution, à cette occasion,
                            d’<i>Hommage à Gustave Roud</i> (Lausanne, s.n.é.).<br/>Le 27 juin, Roud reçoit un
                        doctorat <i>honoris causa</i> de l’Université de Lausanne.<br/>Du 23 septembre au 8
                        octobre, séjour à Rome et à Naples. C’est la Guilde du livre qui, en lui offrant le
                        billet d’avion, est à l’origine de ce voyage.<br/>Le 27 décembre, la bourgeoisie
                        d’honneur de la commune de Carrouge lui est remise.</p>
                </div>
                <div>
                    <span class="chrono-date">1958</span>
                    <p> Du 26 février à début mars, voyage de quelques jours à La Ciotat, auprès de Steven-Paul
                        Robert.<br/>En octobre, parution du <i>Repos du cavalier</i>, à la Bibliothèque des arts
                        à Lausanne.</p>
                </div>
                <div>
                    <span class="chrono-date">1964 </span>
                    <p>La Commission du Fonds cantonal des arts et des lettres attribue à Roud un don d’honneur
                        de 10 000 francs.</p>
                </div>
                <div>
                    <span class="chrono-date">1965 </span>
                    <p>Michel Soutter réalise un film sur Roud dans la série « Personnalités suisses » diffusée
                        à la Télévision suisse romande.</p>
                </div>
                <div>
                    <span class="chrono-date">1966</span>
                    <p> Novalis, <i>Hymnes à la nuit</i> (gravures d’Albert Yersin), traduction de Gustave Roud,
                        aux Éditions Castella à Albeuve.</p>
                </div>
                <div>
                    <span class="chrono-date">1967</span>
                    <p> Le 12 avril, Roud reçoit à la villa Mon Repos le prix de la Ville de Lausanne, d’un
                        montant de 20 000 francs.<br/> Du 17 au 29 avril, exposition « Hommage à Gustave Roud »
                        à la Bibliothèque cantonale et universitaire de Lausanne.<br/> Le 20 avril, à l’occasion
                        du septantième anniversaire de la naissance de Roud, <i>La Gazette littéraire</i> et le Centre de recherches sur les lettres romandes organisent
                        à l’Aula du Palais de Rumine une soirée poétique, avec la participation de Maurice
                        Chappaz, Jacques Chessex et Philippe Jaccottet.<br/> Le 22 avril, célébration de la
                        naissance de Roud dans la commune de Carrouge.<br/> Par l’entremise de Philippe
                        Jaccottet, Roud contribue à l’édition des <i>Œuvres </i>de Hölderlin dans la
                        « Bibliothèque de la Pléiade » des Éditions Gallimard.<br/>En novembre, parution de
                            <i>Requiem</i> aux Éditions Payot à Lausanne.</p>
                </div>
                <div>
                    <span class="chrono-date">1968</span>
                    <p> Parution de Philippe Jaccottet, <i>Gustave Roud</i>, Paris, Seghers, « Poètes
                        d’aujourd’hui » 173.<br/>La candidature de Roud au prix Nobel est présentée par Henri
                        Perrochon.</p>
                </div>
                <div>
                    <span class="chrono-date">1970</span>
                    <p> Prix d’un montant de 5000 francs de la Fondation Schiller suisse, « pour l’ensemble de
                        son œuvre et ses traductions ».</p>
                </div>
                <div>
                    <span class="chrono-date">1971</span>
                    <p> Le 13 février, mort de sa sœur Madeleine.</p>
                </div>
                <div>
                    <span class="chrono-date">1972</span>
                    <p> En avril, parution de <i>Campagne perdue</i> à la Bibliothèque des arts à Lausanne.</p>
                </div>
                <div>
                    <span class="chrono-date">1974</span>
                    <p> En octobre, parution de <i>Lettres sur le romantisme allemand</i> (Lausanne, Études de
                        lettres), correspondance entre Albert Béguin et Gustave Roud.</p>
                </div>
                <div>
                    <span class="chrono-date">1976</span>
                    <p> Le 10 novembre, mort de Gustave Roud à l’hôpital de Moudon. Il est enterré à Carrouge le
                        13 novembre.</p>
                </div>
                <div>
                    <span class="chrono-date">1977 </span>
                    <p>Le 26 février, création de l’Association des Amis de Gustave Roud.<br/> Le 4 décembre,
                        concert en hommage à Roud, à l’église Saint-Étienne de Moudon, « sous les auspices de la
                        Société académique vaudoise, de l’Association des Amis de Gustave Roud, du Centre de
                        recherches sur les lettres romandes, et avec l’appui de l’Association pour
                        Saint-Étienne, la commune de Moudon, l’État de Vaud ». Sont associés à ces
                        manifestations, comme aux initiatives posthumes qui suivront, Françoise Subilia,
                        héritière de la maison et des biens de Gustave Roud, et Philippe Jaccottet, à qui le
                        poète a confié la mission de veiller sur l’avenir de son œuvre.</p>
                </div>

        </div>

        <!--<div class="col-2">
            <ul id="chrono-list">
                <li><a href="/bio#chrono1897">1897</a></li>
                <li><a href="/bio#chrono1907-1908">1907-1908</a></li>
                <li><a href="/bio#chrono1908">1908</a></li>
                <li><a href="/bio#chrono1908-1913">1908-1913</a></li>
                <li><a href="/bio#chrono1913-1915">1913-1915</a></li>
                <li><a href="/bio#chrono1915">1915</a></li>
                <li><a href="/bio#chrono1915-1919">1915-1919</a></li>
                <li><a href="/bio#chrono1916">1916</a></li>
                <li><a href="/bio#chrono1917">1917</a></li>
                <li><a href="/bio#chrono1918">1918</a></li>
                <li><a href="/bio#chrono1919-1922">1919-1922</a></li>
                <li><a href="/bio#chrono1920">1920</a></li>
                <li><a href="/bio#chrono1921">1921</a></li>
                <li><a href="/bio#chrono1922">1922</a></li>
                <li><a href="/bio#chrono1923">1923</a></li>
                <li><a href="/bio#chrono1924">1924</a></li>
                <li><a href="/bio#chrono1925">1925</a></li>
                <li><a href="/bio#chrono1927">1927</a></li>

                <li><a href="/bio#chrono1927-1929">1927-1929</a></li>
                <li><a href="/bio#chrono1928-1932">1928-1932</a></li>
                <li><a href="/bio#chrono1929">1929</a></li>
                <li><a href="/bio#chrono1929-1931">1929-1931</a></li>
                <li><a href="/bio#chrono1930">1930</a></li>
                <li><a href="/bio#chrono1931">1931</a></li>

            </ul>
        </div>--> <!-- end right column-->
    </div> <!-- end row-->

    <div class="row">
        <div class="col-10"></div>
        <div class="col-2">
            <h2 id="toTop"><a href="/bio#title">&#8593;</a></h2>
        </div>
    </div>

    <!-- PERMANENT IDENTIFIERS -->
    <div class="my-5 permanentId row">
        <p>
            <strong>Comment citer</strong> (voir <a href="/project">À propos</a> pour plus d'informations)
            <br/>« Biographie », <i>Gustave Roud. Textes & Archives</i>, dir. Claire Jaquier et Daniel Maggetti, 2022.
        </p>
    </div>


</div>

