<div class="container">

    <!-- breadcrumbs -->
    <div class="breadcrumbNavbar my-4">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Accueil</a></li>
            <li class="breadcrumb-item active" aria-current="page">Biographie</li>
          </ol>
        </nav>
    </div>

    <img src="assets/img/test1.png"/>

    <!-- HEADER -->
    <div id="title" class="py-5 page-title">
        <h3>Gustave Roud (1897-1976)</h3>
    </div>

    <div class="row">

        <!-- MAIN TEXT -->
        <div id="chrono-text" class="col-10">
            
            <div id="chrono1897">
                <span class="chrono-date">1897</span>
                <p>Gustave Henri Roud naît le 20 avril au Chalet-de-Brie, à Saint-Légier (au-dessus de Vevey), domaine que son grand-père paternel avait pris à ferme. La famille Roud est originaire d’Ollon. Gustave Roud et sa sœur Madeleine Roud (1893-1971) fréquentent en premier lieu l’école particulière que leurs deux tantes paternelles tiennent à Saint-Légier.</p>
            </div>

            <div id="chrono1907-1908">
                <span class="chrono-date">1907-1908</span>
                <p>Élève au Collège de Vevey. Il y fait la connaissance de Steven-Paul Robert.</p>
            </div>

            <div id="chrono1908">
                <span class="chrono-date">1908</span>
                <p>Déménagement de la famille Roud à Carrouge dans la région vaudoise du Jorat, dans la ferme du grand-père maternel, Daniel Coigny, décédé trois ans plus tôt. Roud et sa sœur y habiteront toute leur vie, d’abord avec leurs parents, leur grand-mère et leurs tantes maternelles, puis, à partir de 1941, avec également leur tante paternelle, Marguerite Roud.</p>
            </div>

            
        <div id="chrono1908-1913">
            <span class="chrono-date">1908-1913</span>
            <p>Collège classique de Lausanne. Roud y a pour professeurs Ernest Ansermet pour les mathématiques et Edmond Gilliard pour le français.</p></div>
            
            <div id="chrono1913-1915">
            <span class="chrono-date">1913-1915</span>
                <p>Gymnase classique cantonal à Lausanne. Il y retrouve Steven-Paul Robert, qui lui présente Georges Nicole. Il a pour professeur d’histoire Charles Gilliard, et pour les mathématiques Henri Roorda.</p></div>
            <div id="chrono1915">
            <span class="chrono-date">1915</span>
            <p>Le 16 juillet, bachelier ès lettres, mention latin-grec. Publication de ses premiers poèmes, dans les <i>Cahiers vaudois</i> (<i>Poèmes et nouvelles</i>, 5e cahier de la 2e série).</p></div>
            <div id="chrono1915-1919">
            <span class="chrono-date">1915-1919</span>
            <p>Etudes de lettres à l’université de Lausanne. Licence ès lettres classiques.</p></div>
            <div id="chrono1916">
            <span class="chrono-date">1916</span>
            <p>En mai, début du <i>Journal</i>, qui s’achèvera en octobre 1971.<br/>
            Du 27 septembre au 2 décembre, école de recrues V/1 dans l’infanterie, comme carabinier, à la caserne de Lausanne (67 jours). Incorporé dans le bataillon de fusiliers 1.</p></div>
            <div id="chrono1917">
            <span class="chrono-date">1917</span>
            <p>Incorporé dans le bataillon de fusiliers 3 (compagnie de fusiliers IV/3). École de sous-officiers de la 1re division (31 jours). Caporal le 2 juin. École d’officiers d’infanterie de la 1re division (89 jours). Nommé lieutenant le 31 décembre 1917. En 1917, effectue deux périodes de mobilisation de guerre (16 et 18 jours).</p></div>
            
            <div id="chrono1918">
                <span class="chrono-date">1918</span>
                <p>Deux périodes de service militaire actif (72 et 12 jours).</p>
            </div>
            <div id="chrono1919-1922">
                <span class="chrono-date">1919-1922</span>
                <p>Roud publie des poèmes dans La <i>Revue romande</i>, puis y donne des chroniques d’art et de
                    littérature. Il collabore également à la <i>Feuille d’avis de Vevey</i> et à la <i>Tribune de
                    Lausanne</i>. La publication d’un article sur « Quelques peintres romands à la XVe
                    Exposition nationale des Beaux-Arts », le 19 octobre 1922 dans ce dernier journal,
                    marque le début de la correspondance avec René Auberjonois.</p>
            </div>
            <div id="chrono1920">
                <span class="chrono-date">1920</span>
                <p>En février, pendant deux semaines, Roud remplace Emmanuel Buenzod comme professeur au
                    Collège de Vevey.<br /> Au printemps (avril), voyage en Toscane, où il rejoint à
                    Florence Steven-Paul Robert et Jean Viollier. </p>
            </div>
            <div id="chrono1921">
                <span class="chrono-date">1921</span>
                <p>Dans la deuxième moitié de septembre, cours de répétition à Sainte-Croix (13 jours).
                    Le 31 décembre, il est nommé premier lieutenant.</p>
            </div>
            <div id="chrono1922">
                <span class="chrono-date">1922</span>
                <p>De janvier à avril, remplacement comme professeur au Collège de Vevey (latin et
                    français). Du 24 avril au 6 mai, cours de répétition à Gollion (13 jours).</p>
            </div>
            <div id="chrono1923">
                <span class="chrono-date">1923</span>
                <p>Du 7 au 19 mai, cours de répétition à Arnex (13 jours).</p>
            </div>
            <div id="chrono1924">
                <span class="chrono-date">1924</span>
                <p>Cours de répétition à Étoy (13 jours). Au début de l’automne, remplacement de
                    quelques mois au Collège de Vevey.</p>
            </div>
            <div id="1925">
                <span class="chrono-date">1925</span>
                <p>Du 1er au 13 juin, cours de répétition à L’Orient (13 jours). En automne, court
                    séjour à Paris en compagnie de Steven-Paul Robert.</p>
            </div>
            <div id="chrono1927">
                <span class="chrono-date">1927</span>
                <p>Roud s’adresse à Henry-Louis Mermod en vue de l’édition de son premier volume,
                    intitulé <i>Adieu</i>. Celui-ci paraît à compte d’auteur en décembre, à l’enseigne du
                    Verseau, à Lausanne. Roud en envoie un exemplaire à Ramuz, inaugurant par là leurs
                    échanges.</p>
            </div>

            <div id="chrono1927-1929">
                <span class="chrono-date">1927-1929</span>
                <p>Atteint de tuberculose, Roud est victime d’une grave affection pulmonaire ; il est
                    traité au Sanatorium populaire neuchâtelois de Beau-Site, à Leysin, de décembre 1927
                    à avril 1929, effectuant à plusieurs reprises de courtes visites à Carrouge.</p>
            </div>
            <div id="chrono1928-1932">
                <span class="chrono-date">1928-1932</span>
                <p>Roud est municipal de la commune de Carrouge.</p>
            </div>
            <div id="chrono1929">
                <span class="chrono-date">1929</span>
                <p>Au début de l’année, son père renonce à l’exploitation agricole familiale, vu son
                    âge, et vend son bétail.<br /> En octobre, parution de <i>Feuillets</i> aux Éditions Mermod
                    à Lausanne.</p>
            </div>
            <div id="chrono1929-1931">
                <span class="chrono-date">1929-1931</span>
                <p>Secrétaire de rédaction de la revue <i>Aujourd’hui</i>, éditée par Henry-Louis Mermod, et
                    que dirige Ramuz. Il y publie ses premières traductions, de Novalis et de Hölderlin,
                    mais aussi des « Notes » et des textes poétiques.</p>
            </div>
            <div id="chrono1930">
                <span class="chrono-date">1930</span>
                <p>Le 16 juin, mort de son père, Samuel Roud, né en 1862.</p>
            </div>
            <div id="chrono1931">
                <span class="chrono-date">1931</span>
                <p>Le 3 février, mort d’Élise Coigny, sa grand-mère du côté maternel. Le 16 mai, mort
                    d’Alice Coigny, une tante du côté maternel.</p>
            </div>
            <div>À compléter</div>

        </div>

        <div class="col-2">
            <ul id="chrono-list">
                <li><a href="/bio#chrono1897">1897</a></li>
                <li><a href="/bio#chrono1907-1908">1907-1908</a></li>
                <li><a href="/bio#chrono1908">1908</a></li>
                <li><a href="/bio#chrono1908-1913">1908-1913</a></li>
                <li><a href="/bio#chrono1913-1915">1913-1915</a></li>
                <li><a href="/bio#chrono1915">1915</a></li>
                <li><a href="/bio#chrono1915-1919">1915-1919</a></li>
                <li><a href="/bio#chrono1916">1916</a></li>
                <li><a href="/bio#chrono1917">1917</a></li>
                <li><a href="/bio#chrono1918">1918</a></li>
                <li><a href="/bio#chrono1919-1922">1919-1922</a></li>
                <li><a href="/bio#chrono1920">1920</a></li>
                <li><a href="/bio#chrono1921">1921</a></li>
                <li><a href="/bio#chrono1922">1922</a></li>
                <li><a href="/bio#chrono1923">1923</a></li>
                <li><a href="/bio#chrono1924">1924</a></li>
                <li><a href="/bio#chrono1925">1925</a></li>
                <li><a href="/bio#chrono1927">1927</a></li>

                <li><a href="/bio#chrono1927-1929">1927-1929</a></li>
                <li><a href="/bio#chrono1928-1932">1928-1932</a></li>
                <li><a href="/bio#chrono1929">1929</a></li>
                <li><a href="/bio#chrono1929-1931">1929-1931</a></li>
                <li><a href="/bio#chrono1930">1930</a></li>
                <li><a href="/bio#chrono1931">1931</a></li>

            </ul>
        </div> <!-- end right column-->
    </div> <!-- end row-->

    <div class="row">
        <div class="col-10"></div>
        <div class="col-2">
            <h2 id="toTop"><a href="/bio#title">&#8593;</a></h2>
        </div>
    </div>


</div>

