<div class="container">

    <!-- breadcrumbs -->
    <div class="breadcrumbNavbar my-4">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Accueil</a></li>
            <li class="breadcrumb-item active" aria-current="page">Le projet</li>
          </ol>
        </nav>
    </div>


    <img src="assets/img/MissyDetail.png">

    <div class="my-5" id="toc">
        <ul>
            <li><a href="/project#cite">Comment citer</a></li>
            <li><a href="/project#project">Le projet</a></li>
            <li><a href="/project#paper">L'édition sur papier</a></li>
            <li><a href="/project#arch">Inventaire des archives au CLSR</a></li>
            <li><a href="/project#principes">Principes d’édition</a></li>
            <li><a href="/project#pub">Publications</a></li>
            <li><a href="/project#inst">Institutions</a></li>
        </ul>
    </div>


    <div> <!-- HOW TO QUOTE -->
        <div id="cite" class="py-4 page-title">
            <h3>Comment citer</h3>
        </div>
        <div>
            <p>
                <i>Gustave Roud. Textes & Archives</i>, dir. Claire Jaquier et Daniel Maggetti, 2022. URL: https://roud.unil.ch. ARK: http://ark.dasch.swiss/ark:/72163/1/0112.
            </p>
            <p>Des indications sur comment citer les ressources se trouvent en bas de chaque page. Il est préférable d'inclure dans la référence le URL et le ARK.</p>
        </div>
        <h2 class="toTop"><a href="/project#toc">&#8593;</a></h2>
    </div> <!-- end how to quote -->


    <div> <!-- LE PROJET-->
        <div id="project" class="py-4 page-title">
            <h3>Le projet</h3>
        </div>
        <div>
            <p>Le projet <b>« Gustave Roud, Œuvres complètes »</b> de l'Université de Lausanne, soutenu par le Fonds national suisse
                (projet <a href="http://p3.snf.ch/Project-157970" target="_blank">157970</a>, 2017-2021),
                donne l'édition critique de l'ensemble de la production
                de Gustave Roud, qui comporte des proses poétiques, des notes de journal, des recueils de traductions,
                ainsi que des textes sur la littérature et les beaux-arts. Nourri par un riche fonds d'archives conservé au
                <a href="https://www.unil.ch/clsr/home.html" target="_blank">Centre des littératures en Suisse romande</a>,
                le projet comprend un volet sur papier (édition critique de l'œuvre)
                et un volet électronique (accompagnement génétique de l'édition, complément documentaire et thématique).
                L'ensemble vise à refléter et à valoriser scientifiquement la pluralité d'une œuvre parmi les plus importantes de la
                littérature francophone suisse du XXe siècle.</p>

            
            <p><span class="cat">Direction du projet</span> : Claire Jaquier et Daniel Maggetti.</p>

            <p><span class="cat">Établissement et annotation des textes</span> : Julien Burri, Alessio Christen, Claire Jaquier, Raphaëlle Lacord, Daniel Maggetti, Bruno Pellegrino et Stéphane Pétermann.</p>

            <p><span class="cat">Saisie des données</span> : Julien Burri, Alessio Christen, Raphaëlle Lacord, Bruno Pellegrino, Elena Spadini.</p>

            <p><span class="cat">Parcours</span> : Alessio Christen, Claire Jaquier, Daniel Maggetti, Bruno Pellegrino et Stéphane Pétermann.</p>

            <p><span class="cat">Numérisation des sources</span> : Arthur Brändli, Julien Burri, Alessio Christen, Alexandre Ducommun-dit-Verron, Raphaëlle Lacord, Bruno Pellegrino, Elena Spadini.</p>

            <p><span class="cat">Modelisation, encodage et traitement des données, developpement web</span>: Elena Spadini, avec la collaboration de la <a href="https://www.unil.ch/ci/fr/home/menuinst/calcul--soutien-recherche.html">DCSR</a> (Gilles Faucherand, Loïc Jaouen, Marion Rivoal) et de <a href="https://www.matieregrise.ch/">matière grise</a> (Philippe Weissbrodt).</p>

            <p><span class="cat">Visualisations des données</span> : <a href="https://densitydesign.org/" target="_blank">DensityDesign Lab</a> (Andrea Benedetti, Tommaso Elli, Michele Mauri, Valentina Pallacci).</p>
        </div>
        
        <h2 class="toTop"><a href="/project#toc">&#8593;</a></h2>
        
    </div> <!-- end projet-->


    <div> <!-- PAPER EDITION -->
        <div id="paper" class="py-4 page-title">
            <h3>L'édition sur papier</h3>
        </div>
        <div><p>Gustave Roud, <i>Œuvres complètes</i>, dir. Claire Jaquier et Daniel Maggetti, Genève, Zoé, 2022.
                <a href="https://www.editionszoe.ch/livre/oeuvres-completes" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path fill-rule="evenodd" d="M10.604 1h4.146a.25.25 0 01.25.25v4.146a.25.25 0 01-.427.177L13.03 4.03 9.28 7.78a.75.75 0 01-1.06-1.06l3.75-3.75-1.543-1.543A.25.25 0 0110.604 1zM3.75 2A1.75 1.75 0 002 3.75v8.5c0 .966.784 1.75 1.75 1.75h8.5A1.75 1.75 0 0014 12.25v-3.5a.75.75 0 00-1.5 0v3.5a.25.25 0 01-.25.25h-8.5a.25.25 0 01-.25-.25v-8.5a.25.25 0 01.25-.25h3.5a.75.75 0 000-1.5h-3.5z"></path></svg>
                </a>
            </p>
            <a href="https://www.editionszoe.ch/livre/oeuvres-completes" target="_blank">
                <img width="20%" src="https://www.editionszoe.ch/files/2022/livres/1994/thumb-large_roud_coffret_4-volumes-3d.jpg"/>
            </a>
        </div>
        <h2 class="toTop"><a href="/project#toc">&#8593;</a></h2>
    </div> <!-- end paper edition-->


    <div> <!-- ARCHIVES -->
        <div id="arch" class="py-4 page-title">
            <h3>Inventaire des archives au CLSR</h3>
        </div>
        <div><p>L'inventaire du fonds d'archive de Gustave Roud conservé au Centre des littératures en Suisse romande
            est disponible <a href="https://atom-archives.unil.ch/index.php/ch-000225-8-p73" target="_blank">en ligne</a>.</p>
        </div>
        <h2 class="toTop"><a href="/project#toc">&#8593;</a></h2>
    </div> <!-- end archives-->
    


    <div> <!-- PRINCIPES D'EDITION-->
        <div id="principes" class="py-4 page-title">
            <h3>Principes d’édition</h3>
        </div>
        <div>
            <p>En cours ...</p>
           <!-- <p>Les
                interventions des éditeurs sont signalées : les ajouts (y compris de titres, si Roud n’en a pas
                donné) et les coupures sont donnés entre crochets carrés [] ; la mention [mot ill.] signale un
                mot illisible ; un mot placé entre becquets <code><></code> indique une lecture conjecturale.
                En règle générale, la ponctuation originale est respectée. Seule la ponctuation nécessaire à
                la compréhension du texte est ajoutée entre crochets. Tous les autres signes typographiques
                omis (par exemple : fermeture de parenthèses et de guillemets) sont ajoutés sans mention.
                Nous modernisons l’orthographe conformément à l’usage de l’époque de la présente
                édition. Les choix orthographiques de Roud ne sont pas suivis (par exemple : « nature-morte »
                pour « nature morte », « poëte » pour « poète »). Les noms de lieux et de lieux-dits sont
                donnés conformément à l’orthographe actuelle. Lorsque Roud francise des noms de personnes
                (par exemple : Jean-Christian-Frédéric Hölderlin pour Johann Christian Friedrich Hölderlin),
                nous les rétablissons dans leur langue originale, à l’exception des noms dont la version
                francisée est courante (par exemple : Michel-Ange).
                </p>
                <p>
                Les abréviations sont complétées entre crochets, à l’exception des abréviations d’usage
                courant (par exemple : « qqes » pour « quelques »), résolues sans mention.
                Nous ne rétablissons les citations infidèles que lorsque l’erreur de Roud est assimilable à
                une coquille (majuscule, ponctuation, etc.). Les citations approximatives – faites de mémoire
                ou incomplètes, adaptées ou délibérément tronquées – sont conservées dans le texte et les
                citations exactes sont données en note de bas de page, munies de la référence à une édition
                récente. Toute coupure dans une citation est signalée par des points de suspension flanqués de
                crochets</p>-->
        </div>
        <h2 class="toTop"><a href="/project#toc">&#8593;</a></h2>
    </div> <!-- end principes d'édition-->



    <div> <!-- PUBLICATIONS -->
        <div id="pub" class="py-4 page-title">
            <h3>Publications</h3>
        </div>
        <div>
            <p>Publications concernant le volet numérique du projet :</p>
                <ul>
                    <li class="pub-li">Alessio Christen, Elena Spadini, « Modeling genetic networks. Gustave Roud's œuvre, from diary to poetry collections », <i>Umanistica digitale</i>, 7 (2019). <a href="https://doi.org/10.6092/issn.2532-8816/9063" target="_blank">10.6092/issn.2532-8816/9063</a></li>
                    <li class="pub-li">Valentina Pallacci, Andrea Benedetti, Tommaso Elli, Elena Spadini, Michele Mauri, Daniel Maggetti, « Visualizing the genetic process of literary works », AIUCD 2022 - Proceedings, ed. F. Ciracì, G. Miglietta, C. Gatto (2022). <a href="http://doi.org/10.6092/unibo/amsacta/6848" target="_blank">10.6092/unibo/amsacta/6848</a> </li>
                </ul>
        </div>
        <h2 class="toTop"><a href="/project#toc">&#8593;</a></h2>
    </div> <!-- end paper edition-->




    <div> <!-- INSTITUTIONS-->
        <div id="inst" class="py-4 page-title">
            <h3>Institutions</h3>
        </div>
        <div>
        <img src="assets/img/logos/aagr.png" class="d-inline-block align-top logo" alt="">
        <img src="assets/img/logos/unilCLSR_black.png" class="d-inline-block align-top logo" alt="">
        <img src="assets/img/logos/dasch.png" class="d-inline-block align-top logo" alt="">
        <img src="assets/img/logos/fns.gif" class="d-inline-block align-top logo" alt="">
    </div> <!-- end istitutions -->

</div>