@import 'src/styles.scss';


.container-scrollable {
  overflow-y: scroll;
  background-color: #f8f8f8;
  max-height: 2500px;
  padding: 2%;
  font-size: larger;
  
}

@media screen and (max-width: 800px) {
  .container-scrollable {
    margin:30px 0;
  }
}



/*************************** RIGHT PANELS **************************/
.mat-expansion-panel-header {
  font-size: larger;
  font-weight: bold;
}

.mat-expansion-panel-body {
  font-size: larger;
}

ul {
  list-style: disc;
}



/*************************** TEXT **************************/

:host ::ng-deep .tei-quote {
  position: relative;
  // display: inline-block;
  cursor: pointer;
}

:host ::ng-deep .tei-p {
  text-indent:1cm;
}

:host ::ng-deep .tei-quote[rend="block"] {
  display: block;
}

:host ::ng-deep .tei-quote .tei-quote-note {
  /*
  visibility:hidden;
  position: absolute;
  border-radius: 6px;
  padding: 8px;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;*/
  display: none;
  background-color: #555;
  color: #fff;
}

:host ::ng-deep .tei-quote-note.block .tei-ref {
  color: #83f96a !important;
}


:host ::ng-deep .tei-quote .block {
  display: block
}

/* TO CHECK THAT NOTES ARE NOT DISPLAYED, IF PROBLEMS CORRECT IN THE ENCODING */
:host ::ng-deep .tei-quote-note {
  background-color: red;
  color: #fff;
} 

