<h1>
  <div [innerHTML]="text?.title | htmlSanitizer"></div>
</h1>

<div class="container">

  <div class="row">
    
    <!-- text content -->
    <div class="col-sm-8 container-scrollable">
      <or-text-view
        [text]="text"
        orPageLink
        [(pageNum)]="selectedPageNum"
      ></or-text-view>
      <!--this will be given to the @input-->
    </div>
    

    <!-- entities mentioned in the text -->
    <div class="col-sm-4">
      <div id="entities">
        <strong class="reperes highlightTitre">Repères</strong>
        <div class="reperes">
          <strong>Personnes</strong>
          <ul>
            <li *ngFor="let personLight of personsLight">
              <a routerLink="/persons/{{ personLight.id | encodeURIComponent }}"
                >{{ personLight.name }} {{ personLight.surname }}</a
              >
            </li>
          </ul>
        </div>
        <div class="reperes">
          <strong>Lieux</strong>
          <ul>
            <li>test test</li>
            <li>encore un test</li>
          </ul>
        </div>
        <div class="reperes">
          <strong>Œuvres</strong>
          <ul>
            <li>encore un test</li>
            <li>test test</li>
          </ul>
        </div>
      </div>
    </div>
    
  </div>

  </div>
