<div class="container-fluid">
    
  
    <!-- TITLE -->
    <div class="py-4 page-title">
      <h3 [innerHTML]="text?.title | removeTextAndPar | htmlSanitizer"></h3>
    </div> <!-- end title -->



    <div class="row my-4">     

      <!-- READER CONTROLS -->
      <div class="col-1">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
              <mat-panel-title>aA</mat-panel-title>
          </mat-expansion-panel-header>
          <div>
            <div class="mb-5">
              <button type="button" class="btn-block btn btn-sm btn-outline-secondary" 
                      (click)="changeFontSize('readingText', 1)">+</button>
              <button type="button" class="btn-block btn btn-sm btn-outline-secondary"
                      (click)="changeFontSize('readingText', -1)">-</button>
            </div>
            <div class="mb-5">
              <button type="button" class="btn-block btn btn-sm btn-outline-secondary" 
                      (click)="changeHorizontalPadding('readingText', 20)">→←</button>
              <button type="button" class="btn-block btn btn-sm btn-outline-secondary" 
                      (click)="changeHorizontalPadding('readingText', -20)">←→</button>
            </div>
            <div class="mb-5">
              <button type="button" class="btn-block btn btn-sm btn-dark" 
                      (click)="changeBackgroundColor('readingText', '#333333', '#ffffff')">dark</button>
              <button type="button" class="btn-block btn btn-sm btn-outline-secondary" 
                      (click)="changeBackgroundColor('readingText', '#f8f8f8', '#212529')">light</button>
            </div>
            <div class="mb-5">
              <button type="button" class="btn-block btn btn-sm btn-outline-secondary" 
                      (click)="changeLineHeight('readingText', 1)">↑<br/>↓</button>
              <button type="button" class="btn-block btn btn-sm btn-outline-secondary" 
                      (click)="changeLineHeight('readingText', -1)">↓<br/>↑</button>
            </div>
          </div>
        </mat-expansion-panel>
      </div> <!-- end reader controlS -->

      
      
      <!-- TEXT CONTENT - MAIN -->
      <div class="col-7 container-scrollable" id="readingText">
        <main>
          <div [innerHtml]="text?.establishedText | htmlSanitizer" orResourceLink orRenderTei></div>
          <!-- <or-text-view [text]="text"></or-text-view>--> 
        </main>
      </div> <!-- end text content -->
      

      
      <!-- ENTITIES and TEXTE REUSE -->
      <div class="col-3 offset-1">

        <!-- ENTITIES -->
        <mat-expansion-panel expanded="false">
          <mat-expansion-panel-header>
              <mat-panel-title>Repères</mat-panel-title>
          </mat-expansion-panel-header>
          <div>
              <div class="mb-3">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="entitiesCheckbox" (click)="visualizeEntities()">
                  <label class="form-check-label" for="entitiesCheckbox">
                    Trouver dans le texte
                  </label>
                </div>
              </div>
              <div>
                  <fa-icon [icon]="faUser"></fa-icon>&nbsp;
                  <strong class="tei-persName">Personnes</strong>
                  <ul>
                    <li *ngFor="let personLight of personsMentioned">
                      {{ personLight.name }} {{ personLight.surname }}
                      <a routerLink="/persons/{{ personLight.id | encodeURIComponent }}"
                        >&nbsp;🔗</a
                      >
                    </li>
                  </ul>
              </div>
              <div>
                  <fa-icon [icon]="faMapMarkerAlt"></fa-icon>&nbsp;
                  <strong class="tei-placeName">Lieux</strong>
                  <ul>
                    <li *ngFor="let placeLight of placesMentioned">
                      {{ placeLight.name }}
                      <a routerLink="/places/{{ placeLight.id | encodeURIComponent }}"
                        >&nbsp;🔗</a
                      >
                    </li>
                  </ul>
              </div>
              <div>
                  <fa-icon [icon]="faPencilAlt"></fa-icon>&nbsp;
                  <strong class="tei-ref">Œuvres</strong>
                  <ul>
                    <li *ngFor="let work of worksMentioned">
                      <span *ngFor="let workAuthor of workAuthors">
                        <span *ngIf="workAuthor?.id == work?.authorValue">{{ workAuthor?.name}} {{ workAuthor?.surname }}, </span>
                      </span>
                      <span [innerHTML]="work?.title | removeTextAndPar | htmlSanitizer"></span>
                      <span *ngIf="work?.date">, {{ work?.date | knoradatesFormatting }}</span>
                      
                      <span *ngIf="work?.notice != null">
                        <a routerLink="/works/{{ work?.id | encodeURIComponent }}">&nbsp;🔗</a>
                      </span>
                    </li>
                  </ul>
              </div>
          </div>
        </mat-expansion-panel> <!-- end entities -->



        <!-- MENTIONS OF HIS OWN WORKS -->
        <mat-expansion-panel class="mt-5" expanded="false">
          <mat-expansion-panel-header>
              <mat-panel-title>Allusions à ses propres textes</mat-panel-title>
          </mat-expansion-panel-header>
          <div>
              <div class="mb-3">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="mentionsCheckbox" (click)="visualizeMentions()">
                  <label class="form-check-label" for="mentionsCheckbox">
                    Trouver dans le texte
                  </label>
                </div>
              </div>
              <div>
                  <fa-icon [icon]="faFile"></fa-icon>&nbsp;
                  <strong class="tei-ref">Publications</strong>
                  <ul>
                    <li *ngFor="let pubLight of pubsMentioned">
                      {{ pubLight?.title }}, {{ pubLight?.date | knoradatesFormatting}} 
                      <a routerLink="/archive/pub/{{ pubLight.id | encodeURIComponent }}"
                        >&nbsp;🔗</a
                      >
                    </li>
                  </ul>
              </div>
              <div>
                  <fa-icon [icon]="faStickyNote"></fa-icon>&nbsp;
                  <strong class="tei-ref">Documents d'archive</strong>
                  <ul>
                    <li *ngFor="let msLight of mssMentioned">
                      {{ msLight?.archive }}
                      <span [innerHTML]="msLight?.shelfmark | htmlSanitizer"></span>,
                      <span [innerHTML]="msLight?.title | htmlSanitizer"></span>
                      <a routerLink="/archive/ms/{{ msLight.id | encodeURIComponent }}"
                        >&nbsp;🔗</a
                      >
                    </li>
                  </ul>
              </div>
          </div>
        </mat-expansion-panel> <!-- end mentions -->


        <!-- TEXT REUSE -->
        <mat-expansion-panel class="mt-5" expanded="false">
          <mat-expansion-panel-header>
              <mat-panel-title>Reprises</mat-panel-title>
          </mat-expansion-panel-header>
          <div>
              <div class="mb-3">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="reuseCheckbox" (click)="visualizeReuse()">
                  <label class="form-check-label" for="reuseCheckbox">
                    Trouver dans le texte
                  </label>
                </div>
              </div>
              <div>
                  <fa-icon [icon]="faRecycle"></fa-icon>&nbsp;
                  <strong class="tei-seg">Textes en lien</strong>
                  <ul>
                    <li *ngFor="let textLight of textsMentioned">
                      <span [innerHTML]="textLight?.title | removeTextAndPar | htmlSanitizer"></span>
                      <a routerLink="/texts/{{ textLight.id | encodeURIComponent }}"
                        >&nbsp;🔗</a
                      >
                    </li>
                  </ul>
              </div>
          </div>
        </mat-expansion-panel> <!-- end reuse -->


        <!-- ARCHIVE ET GENÈSE-->
        <div class="my-5">
          <a class="btn btn-secondary"
            href="/resources/{{ text?.baseWitPub | encodeURIComponent }}"
            role="button">Archives et genèse</a>
        </div>


      </div>  <!-- end column -->
      

    </div> <!-- end row -->



    <div class="row">
      <div class="col-7">
          <!-- PERMANENT IDENTIFIERS -->
          <div class="my-5 permanentId">
              <p><strong>{{ 'resource.ark' | translate }}</strong> : {{ text?.ark }}</p>
          </div>
      </div>
    </div>

</div>