@import 'src/styles.scss';


.container-scrollable {
  overflow-y: scroll;
  background-color: #f8f8f8;
  max-height: 2500px;
  padding: 2%;
  font-size: larger;
}



/*************************** RIGHT PANELS **************************/
.mat-expansion-panel-header {
  font-size: larger;
  font-weight: bold;
}

.mat-expansion-panel-body {
  font-size: larger;
}

ul {
  list-style: disc;
}



/*************************** TEXT **************************/

:host ::ng-deep .tei-quote {
  position: relative;
  // display: inline-block;
  cursor: pointer;
}

:host ::ng-deep .tei-p {
  text-indent:1cm;
}

:host ::ng-deep .tei-quote[rend="block"] {
  display: block;
}

:host ::ng-deep .tei-quote .tei-quote-note {
  visibility:hidden;
  position: absolute;
  background-color: #555;
  color: #fff;
  border-radius: 6px;
  padding: 8px;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

:host ::ng-deep .tei-quote .show {
  visibility: visible
}

