<div class="container">

    <!-- TITLE -->
    <div class="py-4" *ngIf="periodicalArticle != null"> <!-- bootstrap class: vertical padding 3 -->
        <h3>
            « {{ periodicalArticle?.title }} », 
            <i>{{ periodicalLight?.title }}</i>,
            {{ periodicalArticle?.date | knoradatesFormatting }}
        </h3>
    </div>

    <div class="py-4" *ngIf="book != null"> <!-- bootstrap class: vertical padding 3 -->
        <h3>
            <i [innerHTML]="book?.title | htmlSanitizer"></i>,
            {{ book?.date | knoradatesFormatting }}
        </h3>
    </div>

    <div class="py-4" *ngIf="bookSection != null"> <!-- bootstrap class: vertical padding 3 -->
        <h3>
            « <span [innerHTML]="bookSection?.title | htmlSanitizer"></span> »,
            <i>{{ bookSection?.book }}</i>,
             {{ publisherLight?.name }},
            {{ book?.date | knoradatesFormatting }}
        </h3>
    </div>
   
    

    <!-- VIEWER -->
    <div class="row" *ngIf="pages && pages.length > 0">

        <div class="col-sm-6 py-4">   
            <div *ngFor="let page of pages">
                <img
                    *ngIf="page.seqnum == selectedPageNum"
                    src="{{ page.imageURL }}"
                    width="500"
                    height="500"
                />
            </div>
            
            <select
            class="form-control"
            name="page-numbers"
            [(ngModel)]="selectedPageNum" 
            > <!-- ngModel binds the value of the select to an angular variable -->

                <option [value]="page.seqnum" *ngFor="let page of pages">
                    Page {{ page.seqnum }}</option
                >
            </select>
        </div>
        
    </div>




    <!-- BIBLIOGRAPHICAL REFERENCE -->
    <div class="py-4">
        <strong>Référence bibliographique</strong>
        <div *ngIf="periodicalArticle != null"> <!-- bootstrap class: vertical padding 3 -->
            <p>
                {{ authorLight?.name }} {{ authorLight?.surname }},
                « {{ periodicalArticle?.title }} », 
                <i>{{ periodicalLight?.title }}</i>
                {{ periodicalArticle?.volume }}<span *ngIf="periodicalArticle?.issue != null">
                    ({{ periodicalArticle?.issue }})
                </span>, {{ periodicalArticle?.pages }},
                {{ periodicalArticle?.date | knoradatesFormatting }}.
            </p>
        </div>

        <div *ngIf="book != null"> <!-- bootstrap class: vertical padding 3 -->
            <p>
                {{ authorLight?.name }} {{ authorLight?.surname }},
                <i [innerHTML]="book?.title | htmlSanitizer"></i>, {{ publisherLight?.name }},
                {{ publisherLight?.location }}
                {{ book?.date | knoradatesFormatting }}.
            </p>
        </div>

        <div *ngIf="bookSection != null"> <!-- bootstrap class: vertical padding 3 -->
            <p>
                {{ authorLight?.name }} {{ authorLight?.surname }}, 
                « <span [innerHTML]="bookSection?.title | htmlSanitizer"></span> »,
                <i>{{ bookSection?.book }}</i>,
                {{ publisherLight?.name }},
                {{ book?.date | knoradatesFormatting }}.
            </p>
        </div>
    </div>