<div class="container-fluid">

    <!-- TITLE, light version of the bibliographical reference -->
    <div class="py-4 title">
        <div *ngIf="periodicalArticle != null"> <!-- bootstrap class: vertical padding 4 -->
            <h3>
                « {{ periodicalArticle?.title }} »
                <!-- , <i>{{ periodicalLight?.title }}</i>,
                {{ periodicalArticle?.date | knoradatesFormatting }}-->
            </h3>
        </div>

        <div *ngIf="book != null"> 
            <h3>
                <i [innerHTML]="book?.title | htmlSanitizer"></i>
                <!-- , {{ book?.date | knoradatesFormatting }}-->
            </h3>
        </div>

        <div *ngIf="bookSection != null"> 
            <h3>
                « <span [innerHTML]="bookSection?.title | htmlSanitizer"></span> »
                <!-- , <i>{{ bookSection?.book }}</i>,
                {{ publisherLight?.name }},
                {{ book?.date | knoradatesFormatting }}-->
            </h3>
        </div>
    </div>


    
    <!-- start ROW -->
    <div class="row">

        <!-- start COLUMNS LEFT -->
        <div class="col-7">
        
            
            <!-- VIEWER -->
            <div class="py-4" *ngIf="pages && pages.length > 0">   
                <div *ngFor="let page of pages">
                    <img
                        *ngIf="page.seqnum == selectedPageNum"
                        src="{{ page.imageURL }}"
                        width="80%"
                        height="500"
                    />
                </div>
                
                <select
                name="page-numbers"
                [(ngModel)]="selectedPageNum" 
                > <!-- ngModel binds the value of the select to an angular variable -->

                    <option [value]="page.seqnum" *ngFor="let page of pages">
                        {{ page.name }}</option
                    >
                </select>
            </div>

            <div class="py-4" *ngIf="pages && pages.length == 0">   
                <p>La reproduction de l'original est interdite.</p>
            </div>



            <!-- BIBLIOGRAPHICAL REFERENCE -->
            <div class="py-4">

                <strong>Référence bibliographique</strong>

                <!-- if PERIODICAL ARTICLE -->
                <div *ngIf="periodicalArticle != null"> 
                    <p>
                        <span *ngFor="let aut of authors | sortBySurname; last as isLast">
                            {{ aut.name }} {{ aut.surname }}<span *ngIf="isLast == false">, </span>
                        </span>,
                        « {{ periodicalArticle?.title }} », 
                        <i>{{ periodicalLight?.title }}</i>,
                        n° {{ periodicalArticle?.volume }}<span *ngIf="periodicalArticle?.issue != null">
                            ({{ periodicalArticle?.issue }})</span>,
                        <span *ngIf="periodicalArticle?.collaborators != null">{{ periodicalArticle?.collaborators }},</span>
                        <!--there is no entry with multiple collaborators even if cardinality would allow it-->
                        {{ periodicalArticle?.date | knoradatesYmdFormatting }},
                        {{ periodicalArticle?.pages }}.
                    </p>
                </div>

                <!-- if BOOK -->
                <div *ngIf="book != null"> 
                    <p>
                        <span *ngFor="let aut of authors | sortBySurname; last as isLast">
                            {{ aut.name }} {{ aut.surname }}<span *ngIf="isLast == false">, </span>
                        </span>,
                        <i [innerHTML]="book?.title | htmlSanitizer"></i>,
                        <span *ngIf="book?.collaborators != null">{{ book?.collaborators }},</span>
                        {{ publisherLight?.location }},
                        {{ publisherLight?.name }},
                        {{ book?.date | knoradatesFormatting }}.
                    </p>
                </div>

                <!-- if BOOK SECTION -->
                <div *ngIf="bookSection != null">
                    <p>
                        <span *ngFor="let aut of authors | sortBySurname; last as isLast">
                            {{ aut.name }} {{ aut.surname }}<span *ngIf="isLast == false">, </span>
                        </span>,
                        « <span [innerHTML]="bookSection?.title | htmlSanitizer"></span> »,
                        <i>{{ bookSection?.book }}</i>,
                        <span *ngIf="bookSection?.collaborators != null">{{ bookSection?.collaborators }},</span>
                        {{ publisherLight?.location }},
                        {{ publisherLight?.name }},
                        {{ book?.date | knoradatesFormatting }}.
                    </p>
                </div>
            </div> <!-- end bibliographical reference -->


            <!-- BUTTON READ THE TEXT -->
            
        
        </div> <!-- end columns left-->



        <!-- start COLUMNS RIGHT -->
        <div class="col-5">

            <!-- GENÈSE ET REPRISES -->  <!-- !!!!! check STYLES !!!! -->
            <div>

                <div id="entities" class="my-4">
                    <strong class="reperes highlightTitre">Genèse</strong>
                    
                    <div class="reperes">
                        <strong>> Notes de journal utilisées dans la genèse</strong>
                        <ul>
                            <li *ngFor="let diaryNote of diaryNotes">
                                <a routerLink="/resources/{{ diaryNote.id | encodeURIComponent }}"
                                    >
                                    {{ diaryNote?.title }}
                                    ({{ msLight?.archive }}
                                    <span [innerHTML]="msLight?.shelfmark | htmlSanitizer"></span>)
                                </a>
                            </li>

                        </ul>
                    </div>
                    
                    <div class="reperes">
                        <strong>> Avant-textes</strong>
                        <ul>
                            <li *ngFor="let avantText of avantTexts">
                                <a routerLink="/resources/{{ avantText.id | encodeURIComponent }}"
                                    >
                                    <span [innerHTML]="avantText?.title | htmlSanitizer"></span>
                                    ({{ avantText?.archive }}
                                    <span [innerHTML]="avantText?.shelfmark | htmlSanitizer"></span>)
                                </a>
                            </li>

                            <!-- if incoming parts -->
                            <span *ngIf="pubPartsLight && pubPartsLight.length > 0"> 
                                <ul>
                                    <li *ngFor="let pubPartLight of pubPartsLight">
                                        > Pour la partie : 
                                        <i>{{ pubPartLight?.title }}</i>
                                        <or-avant-texts-part *ngIf="pubPartLight" [pubPartId]="pubPartLight.id"></or-avant-texts-part>
                                        <!-- without *ngIf, pubPartId is undefined in or-avant-texts-part -->
                                    </li>
                                </ul>
                            </span>
                            
                        </ul>
                    </div>
                    
                    <div class="reperes">
                        <strong>> Publications utilisées dans la genèse</strong>
                        <ul>
                            <li *ngFor="let publicationReused of publicationsReused">
                            <a routerLink="/resources/{{ publicationReused.id | encodeURIComponent }}"
                                >{{ publicationReused?.title }}
                                ({{ publicationReused?.date | knoradatesFormatting }})</a
                            > <!-- if routerLink=/archive/pub/text/iri, it will not refresh but add data
                                because it is the same component, so need to pass through resources -->
                            </li>
                        </ul>
                    </div>
                </div>

                <div id="entities" class="my-4">
                    <strong class="reperes highlightTitre">Reprises</strong>
                    
                    <div class="reperes">
                        <ul>
                            <li *ngFor="let publicationReusing of publicationsReusing">
                                <a routerLink="/resources/{{ publicationReusing.id | encodeURIComponent }}"
                                    >{{ publicationReusing?.title }}
                                    ({{ publicationReusing?.date | knoradatesFormatting }})
                                </a>
                            </li>

                            <!-- if incoming parts -->
                            <span *ngIf="pubPartsLight && pubPartsLight.length > 0"> 
                                <ul>
                                    <li *ngFor="let pubPartLight of pubPartsLight">
                                        <!--
                                            Show part only if it has been reused, something like 
                                            *ngIf="publicationsReusingParts && publicationsReusingParts.length > 0"
                                            but publicationsReusingParts is value in the child component
                                            and can't make viewChild nor viewChildren work ..
                                        -->
                                        > Pour la partie : 
                                        <i>{{ pubPartLight?.title }}</i>
                                        <or-pubs-reusing-part [pubPartId]="pubPartLight.id"></or-pubs-reusing-part>
                                        <!--
                                            <or-pubs-reusing-part *ngIf="pubPartLight" [pubPartId]="pubPartLight.id"></or-pubs-reusing-part> 
                                            without *ngIf, pubPartId is undefined in or-pubs-reusing-part ???
                                        -->
                                    </li>
                                </ul>
                            </span>
                        </ul>
                    </div>
                </div>


            </div>  <!-- end genèse et reprises-->

        </div> <!-- end columns right-->

    
    </div> <!-- end row -->

    <div class="row">
        <div class="col-7">
            <!-- PERMANENT IDENTIFIERS -->
            <div class="my-5 permanentId">
                <p><strong>{{ 'resource.ark' | translate }}</strong> : {{ publicationLight?.ark }}</p>
            </div>
        </div>
    </div>


</div> <!-- end container -->