<span>
    <span *ngIf="withAuthor == 'yes'">
        <or-author [authorsId]="article?.authorsValues"></or-author>
    </span>
    <a routerLink="/resources/{{ article?.id | encodeURIComponent }}">
        « <span [innerHTML]="article?.title | removeTextAndPar | htmlSanitizer"></span> »</a>,
        <i>{{ periodical?.title }}</i>,
        {{ (article?.date !== null) ? (article?.date | knoradatesYmdFormatting) : "" }}
        <!-- the date data arrives too late for the pipe, which gives an error thinking value is null. Add this to handle it -->
</span>