<div class="container">

  <!-- breadcrumbs -->
  <div class="breadcrumbNavbar my-4">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Accueil</a></li>
          <li class="breadcrumb-item active" aria-current="page"><a href="/texts">Recueils</a></li>
        </ol>
      </nav>
  </div>

  <h2 class="mb-5 text-center"><b>Les recueils poétiques</b></h2>

  <div class="row mb-5">
      <p>Accès au texte, légèrement annoté, des livres de Gustave Roud. Découvrez les liens, choisissez le mode de lecture.
        <br/>Pour des plus amples commentaires aux textes, voir
        Gustave Roud, <i>Œuvres complètes</i>, dir. Claire Jaquier et Daniel Maggetti, Genève,
        <a href="https://www.editionszoe.ch/" target="_blank">Zoé</a>, 2022.</p>
  </div>


  <div class="row">

    <div class="col-6">
      <br/><br/>
      <p><a [routerLink]="['/texts/http%3A%2F%2Frdfh.ch%2F0112%2FwO6Mo2hfQn2TmIlIYHOrzg']"><em>Adieu</em></a>, <!--Le Verseau,-->1927</p>
      <p><a [routerLink]="['/texts/http%3A%2F%2Frdfh.ch%2F0112%2FbRjHlLp0QpGACDggMQiBuw']"><em>Feuillets</em></a>, 1929</p>
      <p><a [routerLink]="['/texts/http%3A%2F%2Frdfh.ch%2F0112%2FzyQP33W6QmKuBgXgQtqgpQ']"><em>Petit traité de la marche en plaine</em></a>, 1932</p>
      <p><a [routerLink]="['/texts/http%3A%2F%2Frdfh.ch%2F0112%2F-SKhSYWyTjSUoBl0VjxFzw']"><em>Essai pour un paradis</em></a>, 1933</p>
      <p><a [routerLink]="['/texts/http%3A%2F%2Frdfh.ch%2F0112%2F0q4rNxoVTqCek3FOwULnpg']"><em>Pour un moissonneur</em></a>, <!--Lausanne, Mermod,-->1941</p>
      <p><a [routerLink]="['/texts/http%3A%2F%2Frdfh.ch%2F0112%2FAYpx3fJdRPitC0qHzurzng']"><em>Air de la solitude</em></a>, 1945</p>
      <p><a [routerLink]="['/texts/']"><em>Haut-Jorat</em></a>, 1949</p>
      <p><a [routerLink]="['/texts/http%3A%2F%2Frdfh.ch%2F0112%2FvQTvxJv3SzWtf7jrqhD3hQ']"><em>Le Repos du cavalier</em></a>, 1958</p>
      <p><a [routerLink]="['/texts/']"><em>Requiem</em></a>, 1967</p>
      <p><a [routerLink]="['/texts/']"><em>Campagne perdue</em></a>, 1972</p>
    </div>

    <div class="col-6">
      <img src="https://iiif.ls-prod-server.dasch.swiss:443/0112/Af3QQvkv7BC-BKMtyOpy0pu.jp2/full/2532,2801/0/default.jpg"/>
    </div>
  </div>

    <!--
    <ul>
      <li *ngFor="let textLight of textLights" class="text-item">
        <a routerLink="/texts/{{ textLight.id | encodeURIComponent }}" [innerHtml]="textLight.title | htmlSanitizer"
          >
        </a>
      </li>
    </ul>
    <button (click)="onLoadNextPage()" type="button" class="btn btn-light">
      Plus
    </button>-->

</div>
