<div class="container">

  <or-progress-indicator *ngIf="loadingResults>0" ></or-progress-indicator>

  <!-- breadcrumbs -->
  <div class="breadcrumbNavbar my-4">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Accueil</a></li>
          <li class="breadcrumb-item active" aria-current="page"><a href="/texts">Recueils</a></li>
        </ol>
      </nav>
  </div>

  <h2 class="mb-5 text-center"><b>Les recueils poétiques</b></h2>

  <div class="row mb-5">
      <p>Accès au texte, légèrement annoté, des livres de Gustave Roud. Découvrez les liens, choisissez le mode de lecture.
        <br/>Pour des plus amples commentaires aux textes, voir
        Gustave Roud, <i>Œuvres complètes</i>, dir. Claire Jaquier et Daniel Maggetti, Genève,
        <a href="https://www.editionszoe.ch/" target="_blank">Zoé</a>, 2022.</p>
  </div>


  <div class="row">

    <div class="col-6">
      <img src="https://iiif.ls-prod-server.dasch.swiss:443/0112/Af3QQvkv7BC-BKMtyOpy0pu.jp2/full/2532,2801/0/default.jpg"/>
    </div>
  
    <div class="col-5 offset-1">
        <p *ngFor="let text of textsLight" class="text-item">
          <a routerLink="/texts/{{ text.id | encodeURIComponent }}"><i [innerHtml]="text?.title | removeTextAndPar | htmlSanitizer"
            ></i>
          </a>, <span [innerHtml]="text?.date | removeTextAndPar | htmlSanitizer"></span>
        </p>
    </div>

  </div>

  <!--
  <button (click)="onLoadNextPage()" type="button" class="btn btn-light">
    Plus
  </button>
  -->
</div>
