@import 'src/styles.scss';

.container-fluid {
    padding:0px !important ;
}

.bigImage {
    width: 100%;
    opacity: 30%;
}

.textOnImage {
    position:absolute;
    top: 15%;
    text-align: center;
    width: 100%;
}