<div class="container">

    <div class="row">

        <!-- start COLUMNS LEFT -->
        <div class="col-6">
            <!--<p>{{ 'not.found.message' | translate }}</p>-->
            <img src="assets/img/roud_facade.png"/>
        </div>
        <div class="col-6">
            <p>Erreur 404. Cette page n'existe pas.</p>
            <br/><br/>
            <h2>Pour consulter le fonds photographique de Gustave Roud,
                veuillez cliquer <a href="http://fms2.unil.ch/fmi/webd/Roud">ici</a>.</h2>
            <!--<p>Cliquer ici pour revenir à l'accueil.</p>-->
        </div>
    </div>
</div>