<div class="container largerPage">

    <or-progress-indicator *ngIf="loadingResults>0" ></or-progress-indicator>

    <!-- breadcrumbs -->
    <div class="breadcrumbNavbar my-4">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Accueil</a></li>
            <li class="breadcrumb-item"><a href="/archive">Archives</a></li>
            <li class="breadcrumb-item">Publications</li>
            <li class="breadcrumb-item active" aria-current="page">
                <span [innerHTML]="publicationLight?.title | htmlSanitizer"></span>
            </li>
          </ol>
        </nav>
    </div>

    <!-- TITLE, light version of the bibliographical reference -->
    <div class="py-4 page-title">
        <div *ngIf="periodicalArticle != null"> <!-- bootstrap class: vertical padding 4 -->
            <h3>
                « <span [innerHTML]="periodicalArticle?.title | removeTextAndPar | htmlSanitizer"></span> »,
                <i>{{ periodicalLight?.title }}</i>,
                {{ periodicalArticle?.date | knoradatesYmdFormatting }}
            </h3>
        </div>

        <div *ngIf="book != null"> 
            <h3>
                <i [innerHTML]="book?.title | removeTextAndPar | htmlSanitizer"></i>,
                {{ book?.date | knoradatesFormatting }}
            </h3>
        </div>

        <div *ngIf="bookSection != null"> 
            <h3>
                « <span [innerHTML]="bookSection?.title | removeTextAndPar | htmlSanitizer"></span> »,
                <i>{{ bookSection?.book }}</i>,
                {{ book?.date | knoradatesFormatting }}
            </h3>
        </div>
    </div>


    
    <!-- start ROW -->
    <div class="row">

        <!-- start COLUMNS LEFT -->
        <div class="col-6">
                    
            <!-- VIEWER -->
            <or-page-viewer [pages]="imagesPubForwarder" [id]="'document'"></or-page-viewer>
            
            <!-- BIBLIOGRAPHICAL REFERENCE -->
            <div class="py-5 my-2 biblioRef">

                <strong class="test">Référence bibliographique</strong>

                <!-- if PERIODICAL ARTICLE -->
                <div *ngIf="periodicalArticle != null"> 
                    <p>
                        <span *ngFor="let aut of authors | sortBySurname; last as isLast">
                            {{ aut.name }} {{ aut.surname }}<span *ngIf="isLast == false">, </span>
                        </span>,
                        « <span [innerHTML]="periodicalArticle?.title | removeTextAndPar | htmlSanitizer"></span> »,
                        <i>{{ periodicalLight?.title }}</i>,
                        <span *ngIf="periodicalArticle?.issue">n<sup>o</sup> {{ periodicalArticle?.issue } }<span *ngIf="periodicalArticle?.volume">
                            ({{ periodicalArticle?.volume }})</span>,</span>
                        <span *ngIf="periodicalArticle?.collaborators != null">{{ periodicalArticle?.collaborators }},</span>
                        <!--there is no entry with multiple collaborators even if cardinality would allow it-->
                        {{ periodicalArticle?.date | knoradatesYmdFormatting }},
                        {{ periodicalArticle?.pages }}.
                    </p>
                </div>

                <!-- if BOOK -->
                <div *ngIf="book != null"> 
                    <p>
                        <span *ngFor="let aut of authors | sortBySurname; last as isLast">
                            {{ aut.name }} {{ aut.surname }}<span *ngIf="isLast == false">, </span>
                        </span>,
                        <i [innerHTML]="book?.title | removeTextAndPar | htmlSanitizer"></i>,
                        <span *ngIf="book?.collaborators != null">{{ book?.collaborators }},</span>
                        {{ publisherLight?.location }},
                        {{ publisherLight?.name }},
                        {{ book?.date | knoradatesFormatting }}.
                    </p>
                </div>

                <!-- if BOOK SECTION -->
                <div *ngIf="bookSection != null">
                    <p>
                        <span *ngFor="let aut of authors | sortBySurname; last as isLast">
                            {{ aut.name }} {{ aut.surname }}<span *ngIf="isLast == false">, </span>
                        </span>,
                        « <span [innerHTML]="bookSection?.title | removeTextAndPar | htmlSanitizer"></span> »,
                        <i>{{ bookSection?.book }}</i>,
                        <span *ngIf="bookSection?.collaborators != null">{{ bookSection?.collaborators }},</span>
                        {{ publisherLight?.location }},
                        {{ publisherLight?.name }},
                        {{ book?.date | knoradatesFormatting }}.
                    </p>
                </div>
            </div> <!-- end bibliographical reference -->


           
            
        
        </div> <!-- end columns left-->



        <!-- start COLUMNS RIGHT -->
        <div class="col-6">            

            <!-- GENÈSE ET REPRISES -->
            <div *ngIf="publicationLight?.editorialSet == 'Poetic work' || publicationLight?.editorialSet == 'Diary'">

                <!-- disable panel if empty -->
                <mat-expansion-panel id="panelGenesis" class="my-4" [disabled]="panelGenesisDisableState">
                    <mat-expansion-panel-header>
                    <mat-panel-title>Genèse (matériaux utilisés pour l'élaboration du texte)</mat-panel-title>
                    </mat-expansion-panel-header>
                        
                    
                    <div class="mainCategory">
                        <span class="strong">
                            <strong>Notes de journal</strong>
                        </span>
                        <!-- Cannot make one gravsearch query for both of them, 
                            because needs to specify mainResource and
                            because handling results of two classes won't be easy
                            (how to retrieve properties, etc.).
                            So put together the results of two separated queries
                            into one array and then order by shelfmark with a pipe (as for surname)
                             -->
                        <ul class="withListStyle">
                            <!-- for each ms or msPart (both are in the array diaryNotes) -->
                            <li class="liGenesis" *ngFor="let x of diaryNotes"> <!--  | sortByShelfmark -->
                        
                                <span *ngIf="x?.resourceClassLabel == 'Archival document'">
                                    <or-manuscript [msIRI]="x?.id"></or-manuscript>
                                </span>
                        
                                <span *ngIf="x?.resourceClassLabel == 'Part of a manuscript (for diary only)'">
                                    <or-manuscriptpart [msPartIRI]="x?.id" [msLightShelfmark]="x.shelfmark"></or-manuscriptpart>
                                </span>
                            </li>
                        </ul>
                        <!-- if incoming parts -->
                        <ul *ngIf="pubPartsLight && pubPartsLight.length > 0">
                            <li *ngFor="let pubPartLight of pubPartsLight">
                                <span class="liPart"> 
                                    Pour la partie : 
                                    <span></span>
                                    <span>« {{ pubPartLight?.title }} »</span>
                                    <or-pubc-diary-reused-part *ngIf="pubPartLight" [pubPartId]="pubPartLight.id"></or-pubc-diary-reused-part>
                                </span>
                            </li>
                        </ul>
                    </div>

                
                    <div class="mainCategory">
                        <span class="strong">
                            <strong>Témoins génétiques</strong>
                        </span>
                        <ul class="withListStyle">
                            <li class="liGenesis" *ngFor="let avantText of avantTexts">
                                <or-manuscript [msIRI]="avantText.id"></or-manuscript>
                            </li>
                        </ul>
                        <!-- if incoming parts -->
                        <ul *ngIf="pubPartsLight && pubPartsLight.length > 0">
                            <li *ngFor="let pubPartLight of pubPartsLight">
                                <span class="liPart"> 
                                    <span></span>
                                    Pour la partie : 
                                    <span>« {{ pubPartLight?.title }} »</span>
                                    <or-pubc-avant-texts-part *ngIf="pubPartLight" [pubPartId]="pubPartLight.id"></or-pubc-avant-texts-part>
                                    <!-- without *ngIf, pubPartId is undefined in or-avant-texts-part -->
                                </span>
                            </li>
                        </ul>
                    </div>

                    
                    <div class="mainCategory">
                        <span class="strong">
                            <strong>Publications antérieures</strong>
                        </span>
                        <ul class="withListStyle">
                            <li class="liGenesis" *ngFor="let pubReused of pubsReused">
                                <!-- if routerLink=/archive/pub/iri, it will not refresh but add data
                                    because it is the same component, so need to pass through /resources -->  
                                <span *ngIf="pubReused?.resourceClassLabel == 'Book'">
                                    <or-book [bookIRI]="pubReused?.id" [withAuthor]="'no'"></or-book>
                                </span>
                                <span *ngIf="pubReused?.resourceClassLabel == 'Book section'">
                                    <or-book-section [bookSectionIRI]="pubReused?.id" [withAuthor]="'no'"></or-book-section>
                                </span>
                                <span *ngIf="pubReused?.resourceClassLabel == 'Periodical article'">
                                    <or-article [articleIRI]="pubReused?.id" [withAuthor]="'no'"></or-article>
                                </span>

                                <span *ngIf="pubReused?.resourceClassLabel == 'Part of a publication'">
                                    « {{ pubReused?.title }} »
                                    (partie de : <span *ngIf="pubOfParts != null">
                                        <or-book [bookIRI]="pubOfParts?.id" [withAuthor]="'no'"></or-book>
                                    </span>)
                                </span>
                            </li>
                        </ul>
                        <!-- if incoming parts -->
                        <ul *ngIf="pubPartsLight && pubPartsLight.length > 0">
                            <li *ngFor="let pubPartLight of pubPartsLight">
                                <span class="liPart"> 
                                    <span></span>
                                    Pour la partie : 
                                    <span>« {{ pubPartLight?.title }} »</span>
                                    <or-pubc-pubs-reused-part *ngIf="pubPartLight" [pubPartId]="pubPartLight.id"></or-pubc-pubs-reused-part>
                                </span>
                            </li>
                        </ul>
                    </div>

                    <div class="mainCategory">
                        <span class="strong">
                            <strong>Réédition de</strong>
                        </span>
                        <ul class="withListStyle">
                            <li class="liGenesis" *ngFor="let pubRepublished of publicationsRepublished">
                                <!-- if routerLink=/archive/pub/iri, it will not refresh but add data
                                    because it is the same component, so need to pass through /resources -->  
                                <or-book [bookIRI]="pubRepublished?.id" [withAuthor]="'no'"></or-book>
                            </li>
                        </ul>
                    </div>

                </mat-expansion-panel>


                <mat-expansion-panel id="panelReprises" class="my-4" [disabled]="panelReprisesDisableState">
                    <mat-expansion-panel-header>
                        <mat-panel-title>Reprises</mat-panel-title>
                    </mat-expansion-panel-header>

                    <div class="mainCategory">
                        <span class="strong">
                            <strong>Réemploi du texte dans la genèse d'une nouvelle publication</strong>
                        </span>
                        <ul class="withListStyle">
                            <li class="liGenesis" *ngFor="let pubReusing of pubsReusing">
                                <!-- if routerLink=/archive/pub/iri, it will not refresh but add data
                                    because it is the same component, so need to pass through /resources -->
                                <span *ngIf="pubReusing?.resourceClassLabel == 'Book'">
                                    <or-book [bookIRI]="pubReusing?.id" [withAuthor]="'no'"></or-book>
                                </span>
                                <span *ngIf="pubReusing?.resourceClassLabel == 'Book section'">
                                    <or-book-section [bookSectionIRI]="pubReusing?.id" [withAuthor]="'no'"></or-book-section>
                                </span>
                                <span *ngIf="pubReusing?.resourceClassLabel == 'Periodical article'">
                                    <or-article [articleIRI]="pubReusing?.id" [withAuthor]="'no'"></or-article>
                                </span>

                                <span *ngIf="pubReusing?.resourceClassLabel == 'Part of a publication'">
                                    « {{ pubReusing?.title }} »
                                    (partie de : <span *ngIf="pubOfParts3 != null">
                                        <or-book [bookIRI]="pubOfParts3?.id" [withAuthor]="'no'"></or-book>
                                    </span>)
                                </span>
                            </li>
                        </ul>
                        <!-- if incoming parts -->
                        <ul *ngIf="pubPartsLight && pubPartsLight.length > 0">
                            <li *ngFor="let pubPartLight of pubPartsLight">
                                <span class="liPart">
                                    <span></span>
                                    Pour la partie : 
                                    <span>« {{ pubPartLight?.title }} »</span>
                                    <or-pubc-pubs-reusing-part [pubPartId]="pubPartLight.id"></or-pubc-pubs-reusing-part>
                                    <!--
                                        <or-pubs-reusing-part *ngIf="pubPartLight" [pubPartId]="pubPartLight.id"></or-pubs-reusing-part> 
                                        without *ngIf, pubPartId is undefined in or-pubs-reusing-part ???
                                    -->
                                </span>
                            </li>
                        </ul>
                    </div>


                    <div class="mainCategory">
                        <div *ngIf="publicationLight?.resourceClassLabel == 'Book'">
                            <span class="strong">
                                <strong>Rééditions</strong>
                            </span>
                            <ul class="withListStyle">
                                <li class="liGenesis" *ngFor="let pubRepublishing of publicationsRepublishingPub">
                                    <or-book [bookIRI]="pubRepublishing?.id" [withAuthor]="'no'"></or-book>
                                </li>
                            </ul>
                            <!-- no parts, because republication is always of the entire book -->
                        </div>
                    </div>

                </mat-expansion-panel>


                <mat-expansion-panel id="panelInfo" expanded="false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>Comment lire …</mat-panel-title>
                    </mat-expansion-panel-header>
                    <div id="panelInfoText">
                        <p>
                            <strong>… la section <i>Genèse</i></strong>. 
                            Elle est organisée en catégories qui ensemble
                            représentent la possible genèse d'un texte de Gustave Roud :
                            réutilisation des notes de journal, ébauches et autres témoins génétiques,
                            réutilisation de textes déjà publiés, réédition. Pour chaque catégorie,
                            les documents concernant l'ensemble du recueil sont suivis par ceux qui
                            concernent une partie seulement. La couleur grise indique l'absence de 
                            matériaux.
                        </p>
                        <p>
                            <strong>… la section <i>Reprises</i></strong>. 
                            Gustave Roud réutilise ses propres textes pour de nouvelles genèses, en créant 
                            un réseau de reprises. La liste inclut les nouveaux textes qui reprennent
                            cette publication intégralement ou en partie. La couleur grise indique l'absence de 
                            matériaux.
                        </p>
                        <p>
                            <strong>… la visualisation du réseau génétique</strong>. 
                            La genèse des dix recueils poétiques est
                            représentée dans une visualisation du réseau de publications et manuscrits : une constellation génétique.
                            Les éléments listés dans les sections <i>Genèse</i> et <i>Reprises</i> sont 
                            présentés ici de manière graphique.
                        </p>
                    </div>
                </mat-expansion-panel>



            </div>  <!-- end genèse et reprises-->
            
            <!-- LIRE LE TEXTE -->
            <!---->
            <div class="readTheText" *ngIf="establishedText && establishedText.editorialSet == 'Œuvre poétique'">
                <a routerLink="/texts/{{ establishedText?.id | encodeURIComponent }}">
                    <button type="button" class="btn" btn-lg>Lire le texte</button>
                </a>
            </div>
            
            

        </div> <!-- end columns right-->

    
    </div> <!-- end row -->



    <div class="row mb-5 justify-content-center" *ngIf="dataViz">


        <div class="col-12">

            <!-- <or-page-viewer [pages]="imagesDataVizForwarder" [order]="pv_0" id="pv_0"></or-page-viewer> -->
            <or-page-viewer [pages]="imagesDataVizForwarder" [id]="'dataviz'"></or-page-viewer>

            <!--
                [currentTab]="selectedTabLabel"
                [compoundNavigation]="compoundPosition" 
                [imageCaption]="(pub.label + ': ' + incomingResource.res.label : resource.res.label)"
                [parentResource]="incomingResource ? incomingResource.res : resource.res"

                (loaded)="representationLoaded($event)"
                (goToPage)="compoundNavigation($event)"
            -->
        </div>

        <!-- caption -->

        <div class="col-8 caption m-2">DensityDesign (Politecnico di Milano) + Unil, <em>Constellation génétique de </em>
            <span [innerHTML]="publicationLight?.title | removeTextAndPar | htmlSanitizer"></span> <em> de Gustave Roud</em>, 2022. CC-BY 4-0. Cette image est disponible dans <a target="_blank" href="{{dataViz.ark}}">DSP</a>.</div>


    </div>
    
    <br/><br/>

    <!-- PERMANENT IDENTIFIERS -->
    <div class="my-5 permanentId row">
        <p>
            <strong>Comment citer</strong> (voir <a href="/project">À propos</a> pour plus d'informations)
        </p>
        <p>
            <strong>ARK (permalien)</strong> : {{ publicationLight?.ark }}
            <br/>
            <strong>URL</strong> : https://roud.unil.ch/resources/{{ publicationLight?.id | encodeURIComponent }}
            <br/>
            <strong>IRI interne</strong> : {{ publicationLight?.id }}
        </p>
    </div>


</div> <!-- end container -->