<div class="container largerPage">

    <!-- breadcrumbs -->
    <div class="breadcrumbNavbar my-4">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Accueil</a></li>
            <li class="breadcrumb-item"><a href="/archive">Archives</a></li>
            <li class="breadcrumb-item">Publications</li>
            <li class="breadcrumb-item active" aria-current="page">
                <span [innerHTML]="publicationLight?.title | htmlSanitizer"></span>
            </li>
          </ol>
        </nav>
    </div>

    <!-- TITLE, light version of the bibliographical reference -->
    <div class="py-4 page-title">
        <div *ngIf="periodicalArticle != null"> <!-- bootstrap class: vertical padding 4 -->
            <h3>
                « <span [innerHTML]="periodicalArticle?.title | removeTextAndPar | htmlSanitizer"></span> »,
                <i>{{ periodicalLight?.title }}</i>,
                {{ periodicalArticle?.date | knoradatesYmdFormatting }}
            </h3>
        </div>

        <div *ngIf="book != null"> 
            <h3>
                <i [innerHTML]="book?.title | removeTextAndPar | htmlSanitizer"></i>,
                {{ book?.date | knoradatesFormatting }}
            </h3>
        </div>

        <div *ngIf="bookSection != null"> 
            <h3>
                « <span [innerHTML]="bookSection?.title | removeTextAndPar | htmlSanitizer"></span> »,
                <i>{{ bookSection?.book }}</i>,
                {{ book?.date | knoradatesFormatting }}
            </h3>
        </div>
    </div>


    
    <!-- start ROW -->
    <div class="row">

        <!-- start COLUMNS LEFT -->
        <div class="col-6">
        
            
            <!-- VIEWER -->
            <div class="viewer">
                <div class="py-4" *ngIf="pages && pages.length > 0">   
                    <div *ngFor="let page of pages">
                        <img
                            *ngIf="page.seqnum == selectedPageNum"
                            [src]="sanitizer.bypassSecurityTrustUrl(page.imageURL)"
                            width="80%"
                            style="padding:10px; border: 1px solid lightgray;"
                        /><!--it is possible to sanitize here because the method is public in the constructor. Tried with a pipe, but did not work ...
                        Same happens in ms-page -->
                    </div>
                    
                    <select
                    name="page-numbers"
                    [(ngModel)]="selectedPageNum" 
                    > <!-- ngModel binds the value of the option to an angular variable -->
                        <option [value]="page?.seqnum" *ngFor="let page of pages">
                            {{ page?.name }}</option
                        >
                    </select>

                    <select id="selectorPart" *ngIf="pubPartsLight && pubPartsLight.length > 0">
                        <option *ngFor="let p of pubPartsLight">
                            <span>{{ p?.title }}</span>
                        </option>
                    </select>
                    
                </div>

                <div class="py-4" *ngIf="pages && pages.length == 0">   
                    <p>La reproduction de l'original n'est pas disponible.</p>
                </div>
            </div> <!-- end Viewer section -->


            <!-- LIRE LE TEXTE -->
            <!---->
            <div class="readTheText" *ngIf="establishedText.editorialSet == 'Œuvre poétique'">
                <a routerLink="/texts/{{ establishedText?.id | encodeURIComponent }}">
                    <button type="button" class="btn btn-secondary" btn-lg>Lire le texte</button>
                </a>
            </div>

            <!--
            <div>
                <a href="">
                    <img src="assets/img/readText.svg" width="37%"/>
                </a>
            </div>
-->
            
            <!-- BIBLIOGRAPHICAL REFERENCE -->
            <div class="py-4 biblioRef">

                <strong class="test">Référence bibliographique</strong>

                <!-- if PERIODICAL ARTICLE -->
                <div *ngIf="periodicalArticle != null"> 
                    <p>
                        <span *ngFor="let aut of authors | sortBySurname; last as isLast">
                            {{ aut.name }} {{ aut.surname }}<span *ngIf="isLast == false">, </span>
                        </span>,
                        « <span [innerHTML]="periodicalArticle?.title | removeTextAndPar | htmlSanitizer"></span> »,
                        <i>{{ periodicalLight?.title }}</i>,
                        <span *ngIf="periodicalArticle?.issue">n<sup>o</sup> {{ periodicalArticle?.issue } }<span *ngIf="periodicalArticle?.volume">
                            ({{ periodicalArticle?.volume }})</span>,</span>
                        <span *ngIf="periodicalArticle?.collaborators != null">{{ periodicalArticle?.collaborators }},</span>
                        <!--there is no entry with multiple collaborators even if cardinality would allow it-->
                        {{ periodicalArticle?.date | knoradatesYmdFormatting }},
                        {{ periodicalArticle?.pages }}.
                    </p>
                </div>

                <!-- if BOOK -->
                <div *ngIf="book != null"> 
                    <p>
                        <span *ngFor="let aut of authors | sortBySurname; last as isLast">
                            {{ aut.name }} {{ aut.surname }}<span *ngIf="isLast == false">, </span>
                        </span>,
                        <i [innerHTML]="book?.title | removeTextAndPar | htmlSanitizer"></i>,
                        <span *ngIf="book?.collaborators != null">{{ book?.collaborators }},</span>
                        {{ publisherLight?.location }},
                        {{ publisherLight?.name }},
                        {{ book?.date | knoradatesFormatting }}.
                    </p>
                </div>

                <!-- if BOOK SECTION -->
                <div *ngIf="bookSection != null">
                    <p>
                        <span *ngFor="let aut of authors | sortBySurname; last as isLast">
                            {{ aut.name }} {{ aut.surname }}<span *ngIf="isLast == false">, </span>
                        </span>,
                        « <span [innerHTML]="bookSection?.title | removeTextAndPar | htmlSanitizer"></span> »,
                        <i>{{ bookSection?.book }}</i>,
                        <span *ngIf="bookSection?.collaborators != null">{{ bookSection?.collaborators }},</span>
                        {{ publisherLight?.location }},
                        {{ publisherLight?.name }},
                        {{ book?.date | knoradatesFormatting }}.
                    </p>
                </div>
            </div> <!-- end bibliographical reference -->


           
            
        
        </div> <!-- end columns left-->



        <!-- start COLUMNS RIGHT -->
        <div class="col-6">

            <!-- GENÈSE ET REPRISES -->
            <div *ngIf="publicationLight?.editorialSet == 'Poetic work' || publicationLight?.editorialSet == 'Diary'">

                <!-- disable panel if empty -->
                <mat-expansion-panel id="panelGenesis" class="my-4" [disabled]="panelGenesisDisableState">
                    <mat-expansion-panel-header>
                    <mat-panel-title>Genèse (matériaux utilisés pour l'élaboration du texte)</mat-panel-title>
                    </mat-expansion-panel-header>
                        
                    
                    <div class="mainCategory">
                        <span class="strong">
                            <strong>Notes de journal</strong>
                        </span>
                        <!-- Cannot make one gravsearch query for both of them, 
                            because needs to specify mainResource and
                            because handling results of two classes won't be easy
                            (how to retrieve properties, etc.).
                            So put together the results of two separated queries
                            into one array and then order by shelfmark with a pipe (as for surname)
                             -->
                        <ul class="withListStyle">
                            <!-- for each ms or msPart (both are in the array diaryNotes) -->
                            <li class="liGenesis" *ngFor="let x of diaryNotes"> <!--  | sortByShelfmark -->
                        
                                <span *ngIf="x?.resourceClassLabel == 'Archival document'">
                                    <or-manuscript [msIRI]="x?.id"></or-manuscript>
                                </span>
                        
                                <span *ngIf="x?.resourceClassLabel == 'Part of a manuscript (for diary only)'">
                                    <or-manuscriptpart [msPartIRI]="x?.id" [msLightShelfmark]="x.shelfmark"></or-manuscriptpart>
                                </span>
                            </li>
                        </ul>
                        <!-- if incoming parts -->
                        <ul *ngIf="pubPartsLight && pubPartsLight.length > 0">
                            <li *ngFor="let pubPartLight of pubPartsLight">
                                <span class="liPart"> 
                                    <span></span>
                                    Pour la partie : 
                                    <span>« {{ pubPartLight?.title }} »</span>
                                    <or-pubc-diary-reused-part *ngIf="pubPartLight" [pubPartId]="pubPartLight.id"></or-pubc-diary-reused-part>
                                </span>
                            </li>
                        </ul>
                    </div>

                
                    <div class="mainCategory">
                        <span class="strong">
                            <strong>Avant-textes</strong>
                        </span>
                        <ul class="withListStyle">
                            <li class="liGenesis" *ngFor="let avantText of avantTexts">
                                <or-manuscript [msIRI]="avantText.id"></or-manuscript>
                            </li>
                        </ul>
                        <!-- if incoming parts -->
                        <ul *ngIf="pubPartsLight && pubPartsLight.length > 0">
                            <li *ngFor="let pubPartLight of pubPartsLight">
                                <span class="liPart"> 
                                    <span></span>
                                    Pour la partie : 
                                    <span>« {{ pubPartLight?.title }} »</span>
                                    <or-pubc-avant-texts-part *ngIf="pubPartLight" [pubPartId]="pubPartLight.id"></or-pubc-avant-texts-part>
                                    <!-- without *ngIf, pubPartId is undefined in or-avant-texts-part -->
                                </span>
                            </li>
                        </ul>
                    </div>

                    
                    <div class="mainCategory">
                        <span class="strong">
                            <strong>Publications antérieures</strong>
                        </span>
                        <ul class="withListStyle">
                            <li class="liGenesis" *ngFor="let pubReused of pubsReused">
                                <!-- if routerLink=/archive/pub/iri, it will not refresh but add data
                                    because it is the same component, so need to pass through /resources -->  
                                <span *ngIf="pubReused?.resourceClassLabel == 'Book'">
                                    <or-book [bookIRI]="pubReused?.id" [withAuthor]="'no'"></or-book>
                                </span>
                                <span *ngIf="pubReused?.resourceClassLabel == 'Book section'">
                                    <or-book-section [bookSectionIRI]="pubReused?.id" [withAuthor]="'no'"></or-book-section>
                                </span>
                                <span *ngIf="pubReused?.resourceClassLabel == 'Periodical article'">
                                    <or-article [articleIRI]="pubReused?.id" [withAuthor]="'no'"></or-article>
                                </span>

                                <span *ngIf="pubReused?.resourceClassLabel == 'Part of a publication'">
                                    « {{ pubReused?.title }} »
                                    (partie de : <span *ngIf="pubOfParts != null">
                                        <or-book [bookIRI]="pubOfParts?.id" [withAuthor]="'no'"></or-book>
                                    </span>)
                                </span>
                            </li>
                        </ul>
                        <!-- if incoming parts -->
                        <ul *ngIf="pubPartsLight && pubPartsLight.length > 0">
                            <li *ngFor="let pubPartLight of pubPartsLight">
                                <span class="liPart"> 
                                    <span></span>
                                    Pour la partie : 
                                    <span>« {{ pubPartLight?.title }} »</span>
                                    <or-pubc-pubs-reused-part *ngIf="pubPartLight" [pubPartId]="pubPartLight.id"></or-pubc-pubs-reused-part>
                                </span>
                            </li>
                        </ul>
                    </div>

                    <div class="mainCategory">
                        <span class="strong">
                            <strong>Réedition de</strong>
                        </span>
                        <ul class="withListStyle">
                            <li class="liGenesis" *ngFor="let pubRepublished of publicationsRepublished">
                                <!-- if routerLink=/archive/pub/iri, it will not refresh but add data
                                    because it is the same component, so need to pass through /resources -->  
                                <or-book [bookIRI]="pubRepublished?.id" [withAuthor]="'no'"></or-book>
                            </li>
                        </ul>
                    </div>

                </mat-expansion-panel>


                <mat-expansion-panel id="panelReprises" class="my-4" [disabled]="panelReprisesDisableState">
                    <mat-expansion-panel-header>
                        <mat-panel-title>Reprises</mat-panel-title>
                    </mat-expansion-panel-header>

                    <div class="mainCategory">
                        <span class="strong">
                            <strong>Réemploi du texte dans la genèse d'une nouvelle publication</strong>
                        </span>
                        <ul class="withListStyle">
                            <li class="liGenesis" *ngFor="let pubReusing of pubsReusing">
                                <!-- if routerLink=/archive/pub/iri, it will not refresh but add data
                                    because it is the same component, so need to pass through /resources -->
                                <span *ngIf="pubReusing?.resourceClassLabel == 'Book'">
                                    <or-book [bookIRI]="pubReusing?.id" [withAuthor]="'no'"></or-book>
                                </span>
                                <span *ngIf="pubReusing?.resourceClassLabel == 'Book section'">
                                    <or-book-section [bookSectionIRI]="pubReusing?.id" [withAuthor]="'no'"></or-book-section>
                                </span>
                                <span *ngIf="pubReusing?.resourceClassLabel == 'Periodical article'">
                                    <or-article [articleIRI]="pubReusing?.id" [withAuthor]="'no'"></or-article>
                                </span>

                                <span *ngIf="pubReusing?.resourceClassLabel == 'Part of a publication'">
                                    « {{ pubReusing?.title }} »
                                    (partie de : <span *ngIf="pubOfParts3 != null">
                                        <or-book [bookIRI]="pubOfParts3?.id" [withAuthor]="'no'"></or-book>
                                    </span>)
                                </span>
                            </li>
                        </ul>
                        <!-- if incoming parts -->
                        <ul *ngIf="pubPartsLight && pubPartsLight.length > 0">
                            <li *ngFor="let pubPartLight of pubPartsLight">
                                <span class="liPart">
                                    <span></span>
                                    Pour la partie : 
                                    <span>« {{ pubPartLight?.title }} »</span>
                                    <or-pubc-pubs-reusing-part [pubPartId]="pubPartLight.id"></or-pubc-pubs-reusing-part>
                                    <!--
                                        <or-pubs-reusing-part *ngIf="pubPartLight" [pubPartId]="pubPartLight.id"></or-pubs-reusing-part> 
                                        without *ngIf, pubPartId is undefined in or-pubs-reusing-part ???
                                    -->
                                </span>
                            </li>
                        </ul>
                    </div>


                    <div class="mainCategory">
                        <div *ngIf="publicationLight?.resourceClassLabel == 'Book'">
                            <span class="strong">
                                <strong>Réeditions</strong>
                            </span>
                            <ul class="withListStyle">
                                <li class="liGenesis" *ngFor="let pubRepublishing of publicationsRepublishingPub">
                                    <or-book [bookIRI]="pubRepublishing?.id" [withAuthor]="'no'"></or-book>
                                </li>
                            </ul>
                            <!-- no parts, because republication is always of the entire book -->
                        </div>
                    </div>

                </mat-expansion-panel>



                <mat-expansion-panel id="panelInfo" expanded="false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>Comment lire …</mat-panel-title>
                    </mat-expansion-panel-header>
                    <div id="panelInfoText">
                        <p>
                            <strong>… la section <i>Genèse</i></strong>. 
                            Elle est organisée en trois catégories qui ensemble
                            représentent la possible genèse d'un texte de Gustave Roud. Pour chaque catégorie,
                            il y a la liste des documents ou publications qui concernent l'intégralité du texte,
                            suivie par la liste des documents ou publications qui concernent chaque section,
                            si le texte est divisé en sections. La couleur grise indique l'absence de 
                            matériaux.
                        </p>
                        <p>
                            <strong>… la section <i>Reprises</i></strong>. 
                            Gustave Roud réutilise ses propres textes pour de nouvelles genèses, en créant 
                            un réseau de reprises. La liste présentée ici inclut les nouveaux textes qui reprennent
                            cette publication intégralement ou en partie. La couleur grise indique l'absence de 
                            matériaux.
                        </p>
                    </div>
                </mat-expansion-panel>



            </div>  <!-- end genèse et reprises-->

        </div> <!-- end columns right-->

    
    </div> <!-- end row -->

    <div class="row">
        <div class="col-6">
            <!-- PERMANENT IDENTIFIERS -->
            <div class="my-5 permanentId">
                <p><strong>{{ 'resource.ark' | translate }}</strong> : {{ publicationLight?.ark }}</p>
            </div>
        </div>
    </div>


</div> <!-- end container -->