
.liPart {
    display: none;
}


.mainCategory {
    color:#bfbfbf;
}

.readTheText {
    margin: 8% 0 10% 0;
}

#panelInfo {
    margin: 12% 0 0 0;
}

#selectorPart {
    float: right;
    margin-right: 20%;  // because viewer occupies 80%
}