<!-- VIEWER -->
<div class="viewer">
    <div class="page" *ngIf="imageUrl |async as img">
        <img class="page-img" [src]="img"/>
    </div>

    <div *ngIf="pages && pages.length > 0; else noImage">

        <div class="selects">
            <select
            name="page-numbers"
            [ngModel]="selectedPageNum" (change)="selectOnChange($event.target.value)" 
            > <!-- ngModel binds the value of the select to an angular variable -->

                <option [value]="page.seqnum" *ngFor="let page of pages">
                    {{ page.name }}</option
                >
            </select>

            <select *ngIf="msParts && msParts.length > 0"
            id="selectorPart"
            [ngModel]="selectedPageNum" (change)="selectOnChange($event.target.value)"
            >
                <option [value]="msPart.startingPageSeqnum" *ngFor="let msPart of msParts">
                    <span>{{ msPart.title }}</span>
                </option>
            </select>
        </div>
    </div>

    <ng-template #noImage>
        <div class="py-4" *ngIf="pages && pages.length == 0">   
            <p>La reproduction de l'original n'est pas disponible.</p>
        </div>
    </ng-template>

</div> <!-- end Viewer -->
