<p class="p-2">
    <strong>{{ person?.name }} {{ person?.surname }}</strong> 
    ({{ person?.dateOfBirth | knoradatesFormatting }}-{{ person?.dateOfDeath | knoradatesFormatting }})
</p>
<p class="p-2" [innerHtml]="person?.notice | htmlSanitizer" orResourceLink></p>
<br/><br/>
<a href="{{ person?.DhsID }}" target="_blank"><img src="assets/img/dhs.png" width="50px"></a>
<a href="{{ person?.Viaf }}" target="_blank"><img src="assets/img/viaf.png" width="50px"></a>
<br/><br/>
<p class="p-0"><strong>{{ 'person.ark' | translate }}</strong> : {{ person?.ark }}</p>
<p class="p-0"><strong>{{ 'person.iri' | translate }}</strong> : {{ person?.id }}</p>
