<div class="container">

    <!-- breadcrumbs -->
    <div class="breadcrumbNavbar my-4">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Accueil</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="/archive">Archives</a></li>
            
          </ol>
        </nav>
    </div>

    <h2 class="mb-5 text-center"><b>Archives</b></h2>

    <div class="row mb-5">
        <p>Cette page propose une selection de documents d'archive
            qui témoignent de la production littéraire de Gustave Roud.</p>
    </div>


    <!-- RECUEILS -->
    <div class="mb-5">
        <h3 class="sectionTitle">Publications et manuscrits des recueils poétiques</h3>
        <p class="sectionIntro">Ces dix livres ont été publiés entre 1927 et 1970 et recueillent
            des poèmes en vers, des proses poétiques, des notes brèves, des récits et
            des portraits. Explorez les publications et leurs dossiers génétiques.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam suscipit consectetur semper.
            Nam varius dapibus magna, ut tincidunt leo mattis nec. Quisque faucibus blandit orci
            sit amet convallis.</p>
        <!-- first row -->        
        <div class="row my-2">
            <div class="col-md-2 offset-md-1">
                <div class="card">
                    <a routerLink="/archive/pub/http%3A%2F%2Frdfh.ch%2F0112%2FK2OVZydJS42GUsMJvKhP-A">
                        <img class="card-img-top" src="assets/img/couv/couv_1927adieu.png" width="100%">
                        <div class="card-body">
                            <h5 class="card-title"><i>Adieu</i>, 1927</h5>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card">
                    <a routerLink="/archive/pub/http%3A%2F%2Frdfh.ch%2F0112%2FMBnQ02C1Q2aIC8iIEA3NMg">
                        <img class="card-img-top" src="assets/img/couv/couv_1929feuillets.png" width="100%">
                        <div class="card-body">
                            <h5 class="card-title"><i>Feuillets</i>, 1929</h5>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card">
                    <a routerLink="/archive/pub/http%3A%2F%2Frdfh.ch%2F0112%2FTQcAaNeDT1e2CmEFtJePSA">
                        <img class="card-img-top" src="assets/img/couv/couv_1932traite.png" width="100%">
                        <div class="card-body">
                            <h5 class="card-title"><i>Petit traité de la marche en plaine</i>, 1932</h5>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card">
                    <a routerLink="/archive/pub/http%3A%2F%2Frdfh.ch%2F0112%2Fl4W4K1uOSsGJ-mQSj5CZkA">
                        <img class="card-img-top" src="assets/img/couv/couv_1933essai.png" width="100%">
                        <div class="card-body">
                            <h5 class="card-title"><i>Essai pour un paradis</i>, 1933</h5>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card">
                    <a routerLink="/archive/pub/http%3A%2F%2Frdfh.ch%2F0112%2FD2oSkK2-QA-gw4ZVemxIBQ">
                        <img class="card-img-top" src="assets/img/couv/couv_1941moissonneur.png" width="100%">
                        <div class="card-body">
                            <h5 class="card-title"><i>Pour un moissonneur</i>, 1941</h5>
                        </div>
                    </a>
                </div>
            </div>
        </div> <!-- end first row -->
        <!-- second row -->        
        <div class="row my-2">
            
            <div class="col-md-2 offset-md-1">
                <div class="card">
                    <a routerLink="/archive/pub/http%3A%2F%2Frdfh.ch%2F0112%2F_CWQItLmRciQ_ALN0F03JA">
                        <img class="card-img-top" src="assets/img/couv/couv_1945solitude.png" width="100%">
                        <div class="card-body">
                            <h5 class="card-title"><i>Air de la solitude</i>, 1945</h5>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card">
                    <a routerLink="/archive/pub/http%3A%2F%2Frdfh.ch%2F0112%2Ftox6BvZGSkuSmn8kuIPqzw">
                        <img class="card-img-top" src="assets/img/couv/couv_1932traite.png" width="100%">
                        <div class="card-body">
                            <h5 class="card-title"><i>Haut-Jorat</i>, 1949</h5>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card">
                    <a routerLink="/archive/pub/http%3A%2F%2Frdfh.ch%2F0112%2FxT56jykER8-mlgxi-jFXsA">
                        <img class="card-img-top" src="assets/img/couv/couv_1933essai.png" width="100%">
                        <div class="card-body">
                            <h5 class="card-title"><i>Le repos du cavalier</i>, 1958</h5>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card">
                    <a routerLink="/archive/pub/http%3A%2F%2Frdfh.ch%2F0112%2FSp_Gcm6fTsGBuYitYex_SA">
                        <img class="card-img-top" src="assets/img/couv/couv_1933essai.png" width="100%">
                        <div class="card-body">
                            <h5 class="card-title"><i>Requiem</i>, 1967</h5>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card">
                    <a routerLink="/archive/pub/http%3A%2F%2Frdfh.ch%2F0112%2FpKBOXI-GSEyVBBECW1Xgkw">
                        <img class="card-img-top" src="assets/img/couv/couv_1933essai.png" width="100%">
                        <div class="card-body">
                            <h5 class="card-title"><i>Campagne perdue</i>, 1972</h5>
                        </div>
                    </a>
                </div>
            </div>
        </div> <!-- end second row -->

    </div> <!-- fin recueils -->

    <!-- TRADUCTIONS -->
    <div class="my-5">
        <h3 class="sectionTitle">Les manuscrits du traducteur</h3>
        <p class="sectionIntro">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Etiam suscipit consectetur semper. Nam varius dapibus magna, ut tincidunt
            leo mattis nec. Quisque faucibus blandit orci sit amet convallis.
            Morbi justo ante, porta vel odio vitae, sagittis mattis arcu.
            Donec tincidunt a mauris quis congue. Praesent blandit convallis arcu, quis vulputate lorem.
            Nullam non risus at augue vehicula volutpat. Nulla a dolor sollicitudin,
            maximus magna vel, placerat diam. Sed nec tempus enim.</p>
        
        <div class="row my-2">
            
            <!-- Hölderlin -->
           <div class="col-md-3">
                <div class="card">
                    <a
                    [routerLink]="['/archive/results']"
                    [queryParams]="{ translatedAuthorIRI: 'http://rdfh.ch/0112/6omSE-qVRTmIe0LlYxdsNA'}">
                        <img class="card-img-top" src="assets/img/trad/holderlin.png" width="100%">
                        <div class="card-body">
                            <h5 class="card-title">Hölderlin</h5>
                        </div>
                    </a>
                </div>
            </div>

            <!-- Rilke -->
            <div class="col-md-3">
                <div class="card">
                    <a
                    [routerLink]="['/archive/results']"
                    [queryParams]="{ translatedAuthorIRI: 'http://rdfh.ch/0112/4BcTTNFYRLmtGyuv4Rgs0A'}">
                        <img class="card-img-top" src="assets/img/trad/rilke.png" width="100%">
                        <div class="card-body">
                            <h5 class="card-title">Rilke</h5>
                        </div>
                    </a>
                </div>
            </div>

            <!-- Trakl -->
            <div class="col-md-3">
                <div class="card">
                    <a
                    [routerLink]="['/archive/results']"
                    [queryParams]="{ translatedAuthorIRI: 'http://rdfh.ch/0112/yb8lDPz8Rsy0p_kprN9G4g'}">
                        <img class="card-img-top" src="assets/img/trad/trakl.png" width="100%">
                        <div class="card-body">
                            <h5 class="card-title">Trakl</h5>
                        </div>
                    </a>
                </div>
            </div>
            
            <!-- Novalis -->
            <div class="col-md-3">
                <div class="card">
                    <a
                    [routerLink]="['/archive/results']"
                    [queryParams]="{ translatedAuthorIRI: 'http://rdfh.ch/0112/zQNIeqPdSWOi5pY91FK80Q'}">
                        <img class="card-img-top" src="assets/img/trad/novalis.png" width="100%">
                        <div class="card-body">
                            <h5 class="card-title">Novalis</h5>
                        </div>
                    </a>
                </div>
            </div>
            
        </div>
    </div> <!-- end translations -->


    <!-- JOURNAL -->
    <div class="my-5">
        <h3 class="sectionTitle">Les manuscrits du journal intime</h3>
        <p class="sectionIntro">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Etiam suscipit consectetur semper. Nam varius dapibus magna, ut tincidunt
            leo mattis nec. Quisque faucibus blandit orci sit amet convallis.
            Morbi justo ante, porta vel odio vitae, sagittis mattis arcu.
            Donec tincidunt a mauris quis congue. Praesent blandit convallis arcu, quis vulputate lorem.
            Nullam non risus at augue vehicula volutpat.</p>
        
        <div class="row">            
            <div class="col-md-2 offset-md-1">
                <a
                    [routerLink]="['/archive/results']"
                    [queryParams]="{ years: 'GREGORIAN:1916:1927'}">
                    <button type="button" class="btn btn-secondary btn-lg">1916-1927</button>
                </a>
            </div>
            <div class="col-md-2">
                <a
                    [routerLink]="['/archive/results']"
                    [queryParams]="{ years: 'GREGORIAN:1928:1932'}">
                    <button type="button" class="btn btn-secondary btn-lg">1928-1932</button>
                </a>
            </div>
            <div class="col-md-2">
                <a
                    [routerLink]="['/archive/results']"
                    [queryParams]="{ years: 'GREGORIAN:1933:1940'}">
                    <button type="button" class="btn btn-secondary btn-lg">1933-1940</button>
                </a>
            </div>
            <div class="col-md-2">
                <a
                    [routerLink]="['/archive/results']"
                    [queryParams]="{ years: 'GREGORIAN:1941:1958'}">
                    <button type="button" class="btn btn-secondary btn-lg">1941-1958</button>
                </a>
            </div>
            <div class="col-md-2">
                <a
                    [routerLink]="['/archive/results']"
                    [queryParams]="{ years: 'GREGORIAN:1959:1976'}">
                    <button type="button" class="btn btn-secondary btn-lg">1959-1976</button>
                </a>
            </div>
        </div> <!-- end row -->   
    </div> <!-- end diary -->



    <!-- CRITIQUE -->
    <div class="my-5">
        <h3 class="sectionTitle">Regards sur l'art et la littérature</h3>
        <p class="sectionIntro">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Etiam suscipit consectetur semper. Nam varius dapibus magna, ut tincidunt
            leo mattis nec. Quisque faucibus blandit orci sit amet convallis.
            Morbi justo ante, porta vel odio vitae, sagittis mattis arcu.
            Donec tincidunt a mauris quis congue. Praesent blandit convallis arcu, quis vulputate lorem.
            Nullam non risus at augue vehicula volutpat. Nulla a dolor sollicitudin,
            maximus magna vel, placerat diam. Sed nec tempus enim.</p>
        
        <div class="row my-2">
            <div class="col-md-3">
                <div class="card">
                    <a
                    [routerLink]="['/archive/results']"
                    [queryParams]="{ translatedAuthorIRI: 'http://rdfh.ch/0112/6omSE-qVRTmIe0LlYxdsNA'}">
                        <img class="card-img-top" src="assets/img/trad/holderlin.png" width="100%">
                        <div class="card-body">
                            <h5 class="card-title">Catherine Colomb</h5>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <a
                    [routerLink]="['/archive/results']"
                    [queryParams]="{ translatedAuthorIRI: 'http://rdfh.ch/0112/4BcTTNFYRLmtGyuv4Rgs0A'}">
                        <img class="card-img-top" src="assets/img/trad/rilke.png" width="100%">
                        <div class="card-body">
                            <h5 class="card-title">Rimbaud</h5>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <a
                    [routerLink]="['/archive/results']"
                    [queryParams]="{ translatedAuthorIRI: 'http://rdfh.ch/0112/yb8lDPz8Rsy0p_kprN9G4g'}">
                        <img class="card-img-top" src="assets/img/trad/trakl.png" width="100%">
                        <div class="card-body">
                            <h5 class="card-title">Auberjonois</h5>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <a
                    [routerLink]="['/archive/results']"
                    [queryParams]="{ translatedAuthorIRI: 'http://rdfh.ch/0112/zQNIeqPdSWOi5pY91FK80Q'}">
                        <img class="card-img-top" src="assets/img/trad/novalis.png" width="100%">
                        <div class="card-body">
                            <h5 class="card-title">xxx</h5>
                        </div>
                    </a>
                </div>
            </div>
            
        </div>
    </div> <!-- end critique -->


</div>