@import 'src/styles.scss';

p {
    font-size: x-large;
}

.sectionTitle {
    font-weight: bold;
}

.sectionIntro {
    font-size: larger;
}

ul {
    font-size: larger;
}

a {
    color: inherit;
}

.card-img-top {
    // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: transparent;
    padding:1em;
    max-height: 200px;
    width: auto;
    display: block;
    margin: auto;

}
.card {
    border:0px;
}

.card-body {
    border-top: 1px solid black;
}

h5 {
    text-align: center;
}


@media screen and (max-width: 800px) {
    .years {
      margin:10px 0;
    }
  }
  