<div class="container">
   
    <!-- NAME  -->
    <div class="py-4"> <!-- bootstrap class: vertical padding 4 -->
        <h3>
            {{ place?.name }}
            
        </h3>
    </div>


   
    <div class="row py-5">

         <!-- NOTICE -->
        <div class="col-6">
            <p [innerHtml]="place?.notice | htmlSanitizer" orResourceLink></p>
        </div>
    
        <!-- PICTURES -->
        <div class="col-5" *ngIf="pictures && pictures.length > 0">  <!-- only show if there are pictures -->
            <div *ngFor="let picture of pictures">
                <img
                src="{{ picture.imageURL }}"
                />
            </div>
        </div>
        
    </div>
    

    <!-- MAP -->
    <or-place-map *ngIf="place" [placeVar]="place"></or-place-map>  
        <!-- without *ngIf, place is undefined in or-place-map -->



    <!-- LIST OF TEXTS IN WHICH IS MENTIONED -->
    <div class="py-4" *ngIf="textsLight && textsLight.length > 0"> <!-- only show if there are texts -->
        <strong>Lieu mentionné dans les textes suivants :</strong>
        <ul style="list-style: none;">
            <li *ngFor="let textLight of textsLight">
            <a routerLink="/texts/{{ textLight.id | encodeURIComponent }}"
                [innerHTML]="textLight.title | htmlSanitizer"></a
            >
            </li>
        </ul>
    </div>


    <!-- PERMANENT IDENTIFIERS -->
    <div class="my-5 permanentId">
        <p><strong>{{ 'resource.ark' | translate }}</strong> : {{ place?.ark }}</p>
        <!-- coordinates -->
        <p>Lat : {{ place?.lat}}. Long : {{ place?.long }}.</p>
    </div>
    

</div>