<div class="container">
   
    <!-- NAME AND DATES -->
    <div class="py-4"> <!-- bootstrap class: vertical padding 3 -->
        <h3>
            {{ person?.name }} {{ person?.surname }}
            ({{ person?.dateOfBirth | knoradatesFormatting }}-{{ person?.dateOfDeath | knoradatesFormatting }})
        </h3>
    </div>


    <!-- NOTICE -->
    <div class="py-4">
        <p [innerHtml]="person?.notice | htmlSanitizer" orResourceLink></p>
    </div>


    <!-- LINKS TO AUTHORTIY FILES, only show logos if not null -->
    <div class="py-4">
        <a 
            *ngIf="person.DhsID != null" 
            href="{{ person?.DhsID }}"
            target="_blank">
                <img src="assets/img/dhs.png" width="40px">
        </a>
        <a  
            *ngIf="person.Viaf != null"
            href="{{ person?.Viaf }}"
            target="_blank">
                <img src="assets/img/viaf.png" width="40px">
        </a>
    </div> 


    <!-- PERMANENT IDENTIFIERS -->
    <div class="py-4">
        <p><strong>{{ 'person.ark' | translate }}</strong> : {{ person?.ark }}</p>
        <!-- <p class="p-0"><strong>{{ 'person.iri' | translate }}</strong> : {{ person?.id }}</p> -->
    </div>

</div>