<div class="container">

    <or-progress-indicator *ngIf="loadingResults>0" ></or-progress-indicator>
   
    <!-- breadcrumbs -->
    <div class="breadcrumbNavbar my-4">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Accueil</a></li>
            <li class="breadcrumb-item">Personnes</li>
            <li class="breadcrumb-item active" aria-current="page">
                <span>{{ person?.name }} {{ person?.surname }}</span>
            </li>
          </ol>
        </nav>
    </div>

    <!-- NAME AND DATES -->
    <div class="py-4 row"> <!-- bootstrap class: vertical padding 3 -->
        <h3>
            {{ person?.name }} {{ person?.surname }}
            <span *ngIf="person?.dateOfBirth != null || person?.dateOfDeath != null">
                ({{ person?.dateOfBirth | knoradatesFormatting }}-{{ person?.dateOfDeath | knoradatesFormatting }})
            </span>
        </h3>
    </div>

    <!-- NOTICE -->
    <div class="py-4 notice row">
        <p [innerHtml]="person?.notice | htmlSanitizer" orResourceLink></p>
    </div>

    <!-- LINKS TO AUTHORTIY FILES, only show logos if not null -->
    <div class="py-4 row" *ngIf="person?.DhsID != null || person?.Viaf != null">
        <a *ngIf="person?.DhsID != null" href="{{ person?.DhsID }}" target="_blank">
            <img src="assets/img/dhs.png" width="40px">
        </a>
        <a *ngIf="person?.Viaf != null" href="{{ person?.Viaf }}" target="_blank">
            <img src="assets/img/viaf.png" width="40px">
        </a>
    </div>
    
    <!-- LIST OF TEXTS IN WHICH IS MENTIONED -->
    <div class="py-4 row mention" *ngIf="mentioningTexts && mentioningTexts.length > 0"> <!-- only show if there are texts -->
        <div>
            <strong>Occurrences dans les recueils :</strong>
        </div>
        <br/>
        <div class="col-12">
            <ul class="mention-item">
                <li *ngFor="let mentioningText of mentioningTexts">
                    - <em
                    [innerHTML]="mentioningText.title | removeTextAndPar | htmlSanitizer"></em>
                    &nbsp;(<a routerLink="/texts/{{ mentioningText.id | encodeURIComponent }}">texte</a>
                    | <a routerLink="/archive/pub/{{ mentioningText.baseWitPub | encodeURIComponent }}">archives</a>)
                </li>
            </ul>
        </div>
    </div>

    <!-- PICTURES -->
    <div class="row caption mt-5" *ngIf="pictures && pictures.length > 0"> <!-- only show if there are pictures -->
        <div class="col-md-7 offset-md-2" *ngFor="let picture of pictures">
            <img *ngIf="picture" width="100%" [src]="sanitizer.bypassSecurityTrustUrl(picture.imageURL)" />
            <br/>
            {{picture?.title}}
        </div>
    </div>

    <br/><br/><br/><br/>
    <!-- PERMANENT IDENTIFIERS -->
    <div class="my-5 permanentId row">
        <p>
            <strong>Comment citer</strong> (voir <a href="/project">À propos</a> pour plus d'informations)
            <br/>« {{ person?.name }} {{ person?.surname }} », <i>Gustave Roud. Textes & Archives</i>, dir. Claire Jaquier et Daniel Maggetti, 2022.
        </p>
        <p>
            <strong>ARK (permalien)</strong> : {{ person?.ark }}
            <br/>
            <strong>URL</strong> : https://roud.unil.ch/resources/{{ person?.id | encodeURIComponent }}
            <br/>
            <strong>IRI interne</strong> : {{ person?.id }}
        </p>
    </div>

</div>
