<div class="container">
   
    <!-- breadcrumbs -->
    <div class="breadcrumbNavbar my-4">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Accueil</a></li>
            <li class="breadcrumb-item">Personnes</li>
            <li class="breadcrumb-item active" aria-current="page">
                <span>{{ person?.name }} {{ person?.surname }}</span>
            </li>
          </ol>
        </nav>
    </div>

    <!-- NAME AND DATES -->
    <div class="py-4"> <!-- bootstrap class: vertical padding 3 -->
        <h3>
            {{ person?.name }} {{ person?.surname }}
            ({{ person?.dateOfBirth | knoradatesFormatting }}-{{ person?.dateOfDeath | knoradatesFormatting }})
        </h3>
    </div>


    <!-- NOTICE -->
    <div class="py-4 notice">
        <p [innerHtml]="person?.notice | htmlSanitizer" orResourceLink></p>
    </div>


    <!-- PICTURES -->
    <div class="py-4" *ngIf="pictures && pictures.length > 0"> <!-- only show if there are pictures -->
        <div *ngFor="let picture of pictures">
            <img width="full"
            src="{{ picture.imageURL }}"
            />
        </div>
    </div>


    <!-- LINKS TO AUTHORTIY FILES, only show logos if not null -->
    <div class="py-4" *ngIf="person?.DhsID != null || person?.Viaf != null">
        <a 
            *ngIf="person?.DhsID != null" 
            href="{{ person?.DhsID }}"
            target="_blank">
                <img src="assets/img/dhs.png" width="40px">
        </a>
        <a  
            *ngIf="person?.Viaf != null"
            href="{{ person?.Viaf }}"
            target="_blank">
                <img src="assets/img/viaf.png" width="40px">
        </a>
    </div>
    

    <!-- LIST OF TEXTS IN WHICH IS MENTIONED -->
    <div class="py-4 mention" *ngIf="textsLight && textsLight.length > 0"> <!-- only show if there are texts -->
        <span>Textes :</span>
        <ul style="list-style: none;">
            <li *ngFor="let textLight of textsLight">
            <a routerLink="/texts/{{ textLight.id | encodeURIComponent }}"
                [innerHTML]="textLight.title | htmlSanitizer"></a
            >
            </li>
        </ul>
    </div>


    <!-- PERMANENT IDENTIFIERS -->
    <div class="my-5 permanentId">
        <p>
            <strong>Comment citer</strong>
            <br/>« {{ person?.name }} {{ person?.surname }} », <i>Gustave Roud. Textes & Archives</i>, dir. Claire Jaquier et Daniel Maggetti, 2022. ARK: {{ person?.ark }}.        
        </p>
        <p>
            <strong>ARK (permalien)</strong> : {{ person?.ark }}
            <br/>
            <strong>IRI interne</strong> : {{ person?.id }}
        </p>
    </div>

</div>