<!-- param route is where the router-outlet is defined for search results -->
<!-- <kui-fulltext-search [route]="'/search'"></kui-fulltext-search>

<router-outlet></router-outlet> -->

<div class="container">
  <form class="d-flex">
    <input  class="form-control" style="width: 300px;" type="text" #searchInput (keyup.enter)="onSearch(searchInput.value)" />  <!-- # indicate variable -->
    <button class="btn btn-outline-secondary" (click)="onSearch(searchInput.value)"><fa-icon [icon]="faSearch"></fa-icon></button>
  </form>
  
  <div class="row" *ngIf="persons && persons.length > 0">
    <div>
      <strong>Personnes</strong>
      <ul>
        <li *ngFor="let person of persons">
          <a routerLink="/persons/{{ person.id | encodeURIComponent }}"
            >{{ person.name }} {{person.surname}}
            ({{ person?.dateOfBirth | knoradatesFormatting }}-{{ person?.dateOfDeath | knoradatesFormatting }})</a
          >
        </li>
      </ul>
    </div>
  </div>
  
  <div class="row" *ngIf="texts && texts.length > 0">
    <div>
      <strong>Textes</strong>
      <ul>
        <li *ngFor="let text of texts">
          <a routerLink="/texts/{{ text.id | encodeURIComponent }}"
             [innerHTML]="text?.title | htmlSanitizer"></a
          >
          <!-- to do, delete <p> for better rendering-->
        </li>
      </ul>
    </div>
  </div>

  <div class="row" *ngIf="mss && mss.length > 0">
    <div>
      <strong>Documents d'archive</strong>
      <ul>
        <li *ngFor="let ms of mss">
          <a routerLink="/archive/ms/{{ ms.id | encodeURIComponent }}">
          <span [innerHTML]="ms?.title | htmlSanitizer"></span>
            ({{ ms?.archive }}
            <span [innerHTML]="ms?.shelfmark | htmlSanitizer"></span>)
            </a
          >
        </li>
      </ul>
    </div>
  </div>

  <div class="row" *ngIf="resources && resources.length > 0">
    <div>
      <strong>Tout</strong>
      <ul>
        <li *ngFor="let resource of resources">
          <a routerLink="/resources/{{ resource.id | encodeURIComponent }}"
            >{{resource.label}}</a
          >
        </li>
      </ul>
    </div>
  </div>
  


</div>

