<!-- param route is where the router-outlet is defined for search results -->
<!-- <kui-fulltext-search [route]="'/search'"></kui-fulltext-search>

<router-outlet></router-outlet> -->

<div class="container">

    <!-- INPUT -->
    <div class="row">
      <div class="col-md-6 offset-md-4 mt-5 mb-4">
        <form class="d-flex">
          <input  class="form-control form-control-lg mr-2" type="text" #searchInput (keyup.enter)="onSearch(searchInput.value)" />  <!-- # indicate variable -->
          <button class="btn btn-outline-secondary" (click)="onSearch(searchInput.value)"><fa-icon [icon]="faSearch"></fa-icon></button>
        </form>
      </div>
    </div>

    <!-- if NO results -->
    <div class="row" *ngIf="resources && resources.length == 0">
      <div class="col-md-6 offset-md-4 my-5">
          <p style="font-size:larger;">Aucun résultat corresponde à votre recherche.</p>
      </div>
    </div>


    <!-- RESULTS -->
    <div class="row">

      <!-- filter categories -->
      <div class="col-md-3 my-3">
        <div *ngIf="resources && resources.length > 0">

          

          <!-- textes 
          <ul class="list-group mb-1">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <b>Textes</b>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="textsCheckbox" (click)="show('texts')">
                <label class="custom-control-label" for="textsCheckbox">Textes critiques</label>
              </div>
              <span class="badge badge-light badge-pill">{{texts.length}}</span>
            </li>
          </ul>
          -->

          <!-- archives -->
          <ul class="list-group mb-1">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <b>Archives</b>
            </li>
            <!-- mss -->
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="mssCheckbox" (click)="show('mss')">
                <label class="custom-control-label" for="mssCheckbox">Manuscrits</label>
              </div>
              <span class="badge badge-light badge-pill">{{mss.length + msParts.length}}</span>
            </li>
            <!-- publications -->
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="pubsCheckbox" (click)="show('pubs')">
                <label class="custom-control-label" for="pubsCheckbox">Publications</label>
              </div>
              <span class="badge badge-light badge-pill">{{ (roudPubs !== undefined) ? (roudPubs.length) : "0" }}
                <!-- the data arrives too late, which gives an error thinking value is undefined. Add this to handle it --></span>
            </li>
          </ul>

          <ul class="list-group mb-1">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <b>Entités</b>
            </li>
            <!-- persons -->
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="personsCheckbox" (click)="show('persons')">
                <label class="custom-control-label" for="personsCheckbox">Personnes</label>
              </div>
              <span class="badge badge-light badge-pill">{{persons.length}}</span>
            </li>
            <!-- places -->
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="placesCheckbox" (click)="show('places')">
                <label class="custom-control-label" for="placesCheckbox">Lieux</label>
              </div>
              <span class="badge badge-light badge-pill">{{places.length}}</span>
            </li>
            <!-- works 
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="worksCheckbox" (click)="show('works')">
                <label class="custom-control-label" for="worksCheckbox">Œuvres</label>
              </div>
              <span class="badge badge-light badge-pill">{{works.length}}</span>
            </li>
            -->
          </ul>
        </div>
      </div>

      
      <!-- list of results -->
      <div id="allResults" class="col-md-8 offset-md-1 my-3">


        <div id="mssResults" *ngIf="mss && mss.length > 0">
          <div>
            <strong>Manuscrits</strong>
            <ul>
              <li *ngFor="let ms of mss | sortByMsTitle">
                <a routerLink="/archive/ms/{{ ms?.id | encodeURIComponent }}">
                « <span [innerHTML]="ms?.title | htmlSanitizer"></span> »
                  ({{ ms?.archive }}<span *ngIf="ms.shelfmark != '/'" [innerHTML]="ms?.shelfmark | htmlSanitizer"></span>)
                  </a
                >
              </li>
            </ul>
          </div>
        </div>

        <div id="msPartsResults" *ngIf="msParts && msParts.length > 0">
          <div>
            <strong>Notes de journal</strong>
            <ul>
              <li *ngFor="let part of msParts">
                {{ part?.title }}
                  (partie de 
                  <a routerLink="/archive/ms/{{ msFromParts?.id | encodeURIComponent }}">{{ msFromParts?.archive }}
                      <span [innerHTML]="msFromParts?.shelfmark | htmlSanitizer"></span>
                  </a>)
              </li>
            </ul>
          </div>
        </div>


        <div id="pubsResults" *ngIf="roudPubs && roudPubs.length > 0">
          <div>
            <strong>Publications</strong>
            <ul>
              <li *ngFor="let bookIRI of booksIRIs">
                <or-book [bookIRI]="bookIRI"></or-book>
              </li>
              <li *ngFor="let articleIRI of articlesIRIs">
                <or-article [articleIRI]="articleIRI"></or-article>
              </li>
              <li>
                <li *ngFor="let bookSectionIRI of bookSectionsIRIs">
                  <or-book-section [bookSectionIRI]="bookSectionIRI"></or-book-section>
                </li>
            </ul>
          </div>
        </div>

        
        <div id="personsResults" *ngIf="persons && persons.length > 0">
          <div>
            <strong>Personnes</strong>
            <ul>
              <li *ngFor="let person of persons | sortBySurname">
                <a routerLink="/persons/{{ person?.id | encodeURIComponent }}"
                  >{{ person?.name }} {{person?.surname}}
                  ({{ person?.dateOfBirth | knoradatesFormatting }}-{{ person?.dateOfDeath | knoradatesFormatting }})</a
                >
              </li>
            </ul>
          </div>
        </div>
        

        <div id="textsResults" *ngIf="texts && texts.length > 0">
          <div>
            <strong>Textes</strong>
            <ul>
              <li *ngFor="let text of texts">
                <a routerLink="/texts/{{ text?.id | encodeURIComponent }}"
                  [innerHTML]="text?.title | htmlSanitizer"></a
                >
              </li>
            </ul>
          </div>
        </div>

        

        <div id="placesResults" *ngIf="places && places.length > 0">
          <div>
            <strong>Lieux</strong>
            <ul>
              <li *ngFor="let place of places">
                <a routerLink="/places/{{ place?.id | encodeURIComponent }}">
                  {{place?.name}}
                  </a
                >
              </li>
            </ul>
          </div>
        </div>

        <!--
        <div id="worksResults" *ngIf="works && works.length > 0">
          <div>
            <strong>Œuvres littéraires, d'art et de musique</strong>
            <ul>
              <li *ngFor="let work of works">
                <a routerLink="/works/{{ work?.id | encodeURIComponent }}">
                  <or-author [authorsId]="work?.authorsValues"></or-author>
                  <i [innerHtml]="work?.title | removeTextAndPar | htmlSanitizer"></i>
                  <span *ngIf=work?.date>, {{ work?.date | knoradatesYmdFormatting }}</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
        -->

      </div> <!-- end list of results -->
    </div> <!-- end results -->      


</div> <!-- end container -->

