<ul>
    <li class="liGenesis" *ngFor="let pubReusingPart of pubsReusingParts">

        <span *ngIf="pubReusingPart?.resourceClassLabel == 'Book'">
            <or-book [bookIRI]="pubReusingPart?.id" [withAuthor]="'no'"></or-book>
        </span>
        <span *ngIf="pubReusingPart?.resourceClassLabel == 'Book section'">
            <or-book-section [bookSectionIRI]="pubReusingPart?.id" [withAuthor]="'no'"></or-book-section>
        </span>
        <span *ngIf="pubReusingPart?.resourceClassLabel == 'Periodical article'">
            <or-article [articleIRI]="pubReusingPart?.id" [withAuthor]="'no'"></or-article>
        </span>

        <span *ngIf="pubReusingPart?.resourceClassLabel == 'Part of a publication'">
            {{ pubReusingPart?.title }}
            (partie de 
            <span *ngIf="pubOfParts4 != null">
                <or-book [bookIRI]="pubOfParts4?.id" [withAuthor]="'no'"></or-book>
            </span>)
        </span>
    </li>
</ul>