/* You can add global styles to this file, and also import other style files */

/* using Bootstrap, see `angular.json` */


/* this is for Knora-ui */
// but also for components using Material, for example the 'mat-expansion-panel' used in text-page
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
/* better what is above even if they are the same,
because the following gives error when referencing
this file with @import into another scss file,
for example of a component */
// @import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";



@import url('https://fonts.googleapis.com/css?family=EB+Garamond'); // Gelasio, alternative
* {
    // font-family: "Helvetica Neue", Arial, sans-serif !important;
    font-family: 'EB Garamond', sans-serif !important; 
    font-size:103%
  }

.container-fluid {
    padding: 0 8% 0 8% !important;
    //this is not responsive
  }


ul {
    list-style: none;
    line-height: 1.5em;
}
  
.permanentId {
    border:1px solid black;
    padding: 20px;
}

.page-title {
    text-align: center;
}

.mat-expansion-panel-header {
    font-size: medium;
    font-weight: bold;
}

.mat-expansion-panel-body {
    font-size: medium;
}


$primary:#bbe6e4;
$blue:#133c55;
$yellow:#dcbf85;
$green:#84894a;
$violet:#93748a;
$darkGreen:#3f6c51;