/* You can add global styles to this file, and also import other style files */

/* using Bootstrap, see `angular.json` */


/* this is for Knora-ui */
// but also for components using Material, for example the 'mat-expansion-panel' used in text-page
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
/* better what is above even if they are the same,
because the following gives error when referencing
this file with @import into another scss file,
for example of a component */
// @import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";



@import url('https://fonts.googleapis.com/css?family=EB+Garamond'); // Gelasio, alternative  EB+Garamond
* {
    // font-family: "Helvetica Neue", Arial, sans-serif !important;
    font-family: 'EB Garamond', sans-serif !important; 
  }
.material-icons {
  font-family: 'Material Icons' !important;
}

/*************************** COLOR PALETTE **************************/

$primary:#bbe6e4;
$blue:#133c55;  // primary
$green:#84894a;
$darkGreen:#3f6c51; // primary
$lightDarkGreen: #DFE7E1;
$orange: #e06d06;
$rose: #F4BAB8; //ed9390
$yellow:#dcbf85;
$brown: da;


/*************************** GENERAL **************************/


ul {
  list-style: none;
  line-height: 1.5em;
}

.ulPourLaPartie {
list-style: circle;
}

.withListStyle {
list-style: circle;
}


.permanentId {
  padding: 20px;
  font-size: larger;
  background-color: #F2F5F3;
}

.page-title {
  text-align: center;
}

.topBar-activeLink {
  color:white !important;
}

.footer-activeLink {
  color:#2d2d2d !important;
}

code {
  font-family: monospace !important;
}

.caption {
  font-size: large;
}

/*************************** BREADCRUMBS **************************/

.breadcrumb-item + .breadcrumb-item::before {
    content: ">";
  }
  .breadcrumb {
    font-size: large;
    background-color: transparent// $lightDarkGreen;
  }
  
  .breadcrumb-item a {
    color: inherit;
  }

  a {
    color:#538d6a;
  }


/************************ ARCHIVES PAGES **************************/

.viewer, .biblioRef, .msDesc {
  font-size: larger;
}

.btn {
  font-size: large;
}

.largerPage {
  padding:0
}

.mat-expansion-panel-content, .mat-expansion-panel-header {
  font-size: larger;
}


/************************ ENTITIES PAGES **************************/
  
.notice {
  font-size: larger;
}



/************************** VIEWER, from dsp-app *******************/
$panel-height: 40px;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
