<div class="container">

    <!-- breadcrumbs -->
    <div class="breadcrumbNavbar my-4">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Accueil</a></li>
            <li class="breadcrumb-item"><a href="/archive">Archives</a></li>
            <li class="breadcrumb-item">Manuscrits</li>
            <li class="breadcrumb-item active" aria-current="page">
                <span [innerHTML]="msLight?.title | htmlSanitizer"></span>
            </li>
          </ol>
        </nav>
    </div>

    <!-- TITLE and SHELFMARK -->
    <div class="py-4 page-title">
        <h3>
            <span [innerHTML]="msLight?.title | htmlSanitizer"></span>
            ({{ msLight?.archive }}
            <span [innerHTML]="msLight?.shelfmark | htmlSanitizer"></span>)
        </h3>
    </div>


    <!-- start ROW -->
    <div class="row">

        <!-- start COLUMNS LEFT -->
        <div class="col-7">
        
            
            <!-- VIEWER -->
            <div>
                <div class="py-4" *ngIf="pages && pages.length > 0">   
                    <div *ngFor="let page of pages">
                        <img
                            *ngIf="+page.seqnum == selectedPageNum"
                            [src]="sanitizer.bypassSecurityTrustUrl(page.imageURL)"
                            width="80%"
                        /><!--it is possible to sanitize here because the method is public in the constructor. Tried with a pipe, but did not work ...
                        Same happens in pub-page -->
                    </div>
                    
                    <select
                    name="page-numbers"
                    [(ngModel)]="selectedPageNum" 
                    > <!-- ngModel binds the value of the select to an angular variable -->

                        <option [value]="page.seqnum" *ngFor="let page of pages">
                            {{ page.name }}</option
                        >
                    </select>

                    <select *ngIf="msParts && msParts.length > 0"
                    id="selectorPart">
                        <option *ngFor="let msPart of msParts">
                            <span>{{ msPart?.title }}</span>
                        </option>
                    </select>
                </div>

                <div class="py-4" *ngIf="pages && pages.length == 0">   
                    <p>La reproduction de l'original n'est pas disponible.</p>
                </div>
            </div> <!-- end Viewer -->


            <!-- LIRE LE TEXTE 
            <div *ngIf="manuscript?.editorialSet == 'Journal'" class="readTheText">
                <button type="button" class="btn btn-secondary" btn-lg>Lire le texte</button>
            </div>
            -->
            <!--
            <div>
                <a href="">
                    <img src="assets/img/readText.svg" width="37%"/>
                </a>
            </div>
            -->



            <!-- MANUSCRIPT DESCRIPTION -->

            <!-- need values in French, see 
                <https://discuss.dasch.swiss/t/listnode-access-label-and-filter-by-language/164> -->
            <!-- lower cap -->
            <!-- links in comment, see directive -->

            <div class="py-4 msDesc">
                <strong>Description du manuscrit</strong>
                <div>
                    <div class="msDescItem">
                        <span class="msDescHeader">Archive</span> :
                        {{ msLight?.archive }}
                    </div>
                    <div class="msDescItem">
                        <span class="msDescHeader">Cote</span> :
                        <span [innerHTML]="msLight?.shelfmark | htmlSanitizer"></span>
                    </div>
                    <div class="msDescItem">
                        <span class="msDescHeader">Titre</span> :
                        <span [innerHTML]="msLight?.title | htmlSanitizer"></span>
                    </div>
                    <div class="msDescItem">
                        <span class="msDescHeader">Type de document</span> :
                        {{ manuscript?.documentType }}
                    </div>
                    <div class="msDescItem">
                        <span class="msDescHeader">Support</span> :
                        {{ manuscript?.supportType }}
                    </div>
                    <div class="msDescItem" *ngIf="manuscript?.supportInfo != null">
                        <span class="msDescHeader">Informations sur le support</span> :
                        <span [innerHTML]="manuscript?.supportInfo | removeTextAndPar | removeInternalPar | htmlSanitizer"></span>
                    </div>
                    <div class="msDescItem" *ngIf="manuscript?.writingTool != null">
                        <span class="msDescHeader">Outil d'écriture</span> :
                        {{ manuscript?.writingTool }}
                    </div>
                    <div class="msDescItem" *ngIf="manuscript?.writingColor != null">
                        <span class="msDescHeader">Couleur de l'écriture</span> :
                        {{ manuscript?.writingColor }}
                    </div>
                    <div class="msDescItem" *ngIf="manuscript?.otherWritingTool != null">
                        <span class="msDescHeader">Autres outils d'écriture</span> :
                        <span [innerHTML]="manuscript?.otherWritingTool | removeTextAndPar | removeInternalPar | htmlSanitizer"></span>
                    </div>
                    <div class="msDescItem">
                        <span class="msDescHeader">Manuscrit annoté</span> :
                        {{ manuscript?.annotations | boolean }}
                    </div>
                    <div class="msDescItem">
                        <span class="msDescHeader">Étape génétique</span> :
                        {{ manuscript?.geneticStage }}
                    </div>
                    <div class="msDescItem" *ngIf="manuscript?.dateReadable">
                        <span class="msDescHeader">Date dans le document</span> :
                        <span [innerHTML]="manuscript?.dateReadable | htmlSanitizer"></span>
                    </div>
                    <div class="msDescItem" *ngIf="manuscript?.establishedDateAdd">
                        <span class="msDescHeader">Date établie</span> :
                        {{ manuscript?.establishedDateAdd }}
                        <span [innerHTML]="manuscript?.establishedDateReadable | htmlSanitizer"></span>
                    </div>
                    <div class="msDescItem" *ngIf="manuscript?.comment">
                        <span class="msDescHeader">Commentaire</span> :
                        <span [innerHTML]="manuscript?.comment | removeTextAndPar | replaceParWithBr | htmlSanitizer" orResourceLink></span>
                    </div>
                </div>
            </div> <!-- end manuscript description -->


        </div> <!-- end column left -->


        <!-- start COLUMNS RIGHT -->
        <div class="col-5">

            <!-- GENÈSE ET REPRISES -->
            <div>

                <mat-expansion-panel id="panelPoeticPub" 
                class="my-4" 
                *ngIf="manuscript?.editorialSet == 'Œuvre poétique' || manuscript?.editorialSet == 'Propos'"
                [disabled]="panelPoeticPubDisableState">
                    <mat-expansion-panel-header>
                    <mat-panel-title>Publications (ce document est un avant-texte de)</mat-panel-title>
                    </mat-expansion-panel-header>
                    <div>
                        <ul class="withListStyle">
                            <li class="liPoeticPub" *ngFor="let pubAT of pubsAvantTexte">
                                <span *ngIf="pubAT?.resourceClassLabel == 'Book'
                                    || pubAT?.resourceClassLabel == 'Periodical article'
                                    || pubAT?.resourceClassLabel == 'Book section'">
                                    <a routerLink="/archive/pub/{{ pubAT.id | encodeURIComponent }}"
                                        ><span [innerHTML]="pubAT?.title | removeTextAndPar | htmlSanitizer"></span>
                                    </a>,
                                    {{ pubAT?.date | knoradatesFormatting }}
                                </span>
                                <span *ngIf="pubAT?.resourceClassLabel == 'Part of a publication'">
                                    « {{ pubAT?.title }} »
                                    (partie de : <a routerLink="/archive/pub/{{ pubFromParts?.id | encodeURIComponent }}">
                                        <span [innerHTML]="pubFromParts?.title | removeTextAndPar | htmlSanitizer"></span></a>, {{ pubFromParts?.date | knoradatesFormatting }})
                                </span>
                            </li>
                        </ul>
                    </div>
                </mat-expansion-panel>

                <mat-expansion-panel id="panelDiaryLevel" 
                class="my-4" 
                *ngIf="manuscript?.editorialSet == 'Journal'"
                [disabled]="panelDiaryLevelDisableState">
                    <mat-expansion-panel-header>
                    <mat-panel-title>Niveaux de journal</mat-panel-title>
                    </mat-expansion-panel-header>

                    <div class="mainCategory">
                        <span>
                            <strong>Retranscription de</strong>
                        </span>
                        <ul class="withListStyle">
                            <li class="liDiaryLevel" *ngFor="let x of rewrittenMs"> <!--  | sortByShelfmark -->
                                <span *ngIf="x?.resourceClassLabel == 'Archival document'">
                                    <span [innerHTML]="x?.title | htmlSanitizer"></span>
                                    (<a routerLink="/resources/{{ x?.id | encodeURIComponent }}">{{ x?.archive }}
                                        <span [innerHTML]="x?.shelfmark | htmlSanitizer"></span>
                                    </a>)
                                </span>
                        
                                <span *ngIf="x?.resourceClassLabel == 'Part of a manuscript (for diary only)'">
                                    {{ x?.title }}
                                    (partie de : <a routerLink="/resources/{{ msFromParts3?.id | encodeURIComponent }}">{{ msFromParts3?.archive }}
                                        <span [innerHTML]="msFromParts3?.shelfmark | htmlSanitizer"></span>
                                    </a>)
                                </span>
                            </li>
                        </ul>
                        <!-- if manuscript has parts -->
                        <ul *ngIf="msParts && msParts.length > 0">
                            <li *ngFor="let msPart of msParts">
                                <span class="liPart">
                                    <span></span>
                                    Pour la partie : 
                                    <span>« {{ msPart?.title }} »</span>
                                    <or-msc-mss-rewritten-part [msPartId]="msPart.id"></or-msc-mss-rewritten-part>
                                </span>
                            </li>
                        </ul>
                    </div>
                    
                    <div class="mainCategory">
                        <span>
                            <strong>Retranscription dans</strong>
                        </span>
                        <ul class="withListStyle">
                            <li class="liDiaryLevel" *ngFor="let x of rewritingMs"> <!--  | sortByShelfmark -->
                                <span *ngIf="x?.resourceClassLabel == 'Archival document'">
                                    <span [innerHTML]="x?.title | htmlSanitizer"></span>
                                    (<a routerLink="/resources/{{ x?.id | encodeURIComponent }}">{{ x?.archive }}
                                        <span [innerHTML]="x?.shelfmark | htmlSanitizer"></span>
                                    </a>)
                                </span>
                        
                                <span *ngIf="x?.resourceClassLabel == 'Part of a manuscript (for diary only)'">
                                    {{ x?.title }}
                                    (partie de : <a routerLink="/resources/{{ msFromParts?.id | encodeURIComponent }}">{{ msFromParts?.archive }}
                                        <span [innerHTML]="msFromParts?.shelfmark | htmlSanitizer"></span>
                                    </a>)
                                </span>
                            </li>
                        </ul>
                        <!-- if manuscript has parts -->
                        <ul *ngIf="msParts && msParts.length > 0">
                            <li *ngFor="let msPart of msParts">
                                <span class="liPart">
                                    <span></span>
                                    Pour la partie : 
                                    <span>« {{ msPart?.title }} »</span>
                                    <or-msc-mss-rewriting-part [msPartId]="msPart.id"></or-msc-mss-rewriting-part>
                                </span>
                            </li>
                        </ul>
                    </div>
                    
                </mat-expansion-panel>

                <mat-expansion-panel id="panelDiaryPub" 
                class="my-4" 
                *ngIf="manuscript?.editorialSet == 'Journal'"
                [disabled]="panelDiaryPubDisableState">
                    <mat-expansion-panel-header>
                    <mat-panel-title>Publications (dont la genèse utilise ce document)</mat-panel-title>
                    </mat-expansion-panel-header>
                    <div>
                        <ul class="withListStyle">
                            <li class="liDiaryPub" *ngFor="let pubD of pubsDiary">
                                <span *ngIf="pubD?.resourceClassLabel == 'Book'
                                    || pubD?.resourceClassLabel == 'Periodical article'
                                    || pubD?.resourceClassLabel == 'Book section'">
                                    <a routerLink="/archive/pub/{{ pubD.id | encodeURIComponent }}"
                                        ><span [innerHTML]="pubD?.title | removeTextAndPar | htmlSanitizer"></span>
                                    </a>,
                                    {{ pubD?.date | knoradatesFormatting }}
                                </span>
                                <span *ngIf="pubD?.resourceClassLabel == 'Part of a publication'">
                                    « {{ pubD?.title }} »
                                    (partie de :<a routerLink="/archive/pub/{{ pubFromParts2?.id | encodeURIComponent }}">
                                        <span [innerHTML]="pubFromParts2?.title | removeTextAndPar | htmlSanitizer"
                                        ></span></a>, {{ pubFromParts2?.date | knoradatesFormatting }})
                                </span>
                            </li>
                        </ul>
                        <!-- if manuscript has parts -->
                        <ul *ngIf="msParts && msParts.length > 0">
                            <li *ngFor="let msPart of msParts">
                                <span class="liPart">
                                    <span></span>
                                    Pour la partie : 
                                    <span>« {{ msPart?.title }} »</span>
                                    <or-msc-pubs-reusing-part [msPartId]="msPart.id"></or-msc-pubs-reusing-part>
                                </span>
                            </li>
                        </ul>
                    </div>
                </mat-expansion-panel>

                <mat-expansion-panel id="panelInfo" expanded="false" *ngIf="manuscript?.editorialSet == 'Œuvre poétique' || manuscript?.editorialSet == 'Propos'">
                    <mat-expansion-panel-header>
                        <mat-panel-title>Comment lire …</mat-panel-title>
                    </mat-expansion-panel-header>
                    <div>
                        <p>
                            <strong>… la section <i>Publications</i></strong>. 
                            Ici sont listé les publications pour lesquelles ce document fonctionne
                            comme avant-texte ; ce document fait donc partie du dossier génétique de la publication
                            ou d'une partie d'elle.
                            La couleur grise indique l'absence de dossiers génétiques dans
                            lesquels ce document a été utilisé.
                        </p>
                    </div>
                </mat-expansion-panel>
                <mat-expansion-panel id="panelInfo" expanded="false" *ngIf="manuscript?.editorialSet == 'Journal'">
                    <mat-expansion-panel-header>
                        <mat-panel-title>Comment lire …</mat-panel-title>
                    </mat-expansion-panel-header>
                    <div>
                        <p>
                            <strong>… la section <i>Niveaux de journal</i></strong>. 
                            Gustave Roud reorganise et recueille ces notes de journal, en le rétranscrivant,
                            parfois plusieurs fois, souvent à partir d'un support précaire comme un petit feuillet
                            vers un cahier. Au long de sa vie, ces pratiques d'écriture à cheval entre plusieurs
                             "niveaux de journal" changent. Ici, on peut suivre
                            la retranscription, avec ou sans changement, d'une note de journal sur un nouveau support.
                        </p>
                        <p>
                            <strong>… la section <i>Publications</i></strong>. 
                            Les publications listées ici sont celles dont la genèse inclut l'utilisation intégrale
                            d'une ou plusieurs notes du journal intime du poète. Cette pratique est
                            rare et bien plus souvent Roud reprends seulement des phrases (pour cela, 
                            <a href=".">lire le texte</a>).
                        </p>
                    </div>
                </mat-expansion-panel>

            </div>  <!-- end genèse-->

        </div> <!-- end columns right-->

    </div> <!-- end row -->

    <div class="row">
        <div class="col-7">
            <!-- PERMANENT IDENTIFIERS -->
            <div class="my-5 permanentId">
                <p><strong>{{ 'resource.ark' | translate }}</strong> : {{ msLight?.ark }}</p>
            </div>
        </div>
    </div>

</div>