<div class="container-fluid">

    <!-- TITLE and SHELFMARK -->
    <div class="py-4 page-title">
        <h3>
            <span [innerHTML]="msLight?.title | htmlSanitizer"></span>
            ({{ msLight?.archive }}
            <span [innerHTML]="msLight?.shelfmark | htmlSanitizer"></span>)
        </h3>
    </div>


    <!-- start ROW -->
    <div class="row">

        <!-- start COLUMNS LEFT -->
        <div class="col-7">
        
            
            <!-- VIEWER -->
            <div class="py-4" *ngIf="pages && pages.length > 0">   
                <div *ngFor="let page of pages">
                    <img
                        *ngIf="page.seqnum == selectedPageNum"
                        src="{{ page.imageURL }}"
                        width="70%"
                    />
                </div>
                
                <select
                name="page-numbers"
                [(ngModel)]="selectedPageNum" 
                > <!-- ngModel binds the value of the select to an angular variable -->

                    <option [value]="page.seqnum" *ngFor="let page of pages">
                        {{ page.name }}</option
                    >
                </select>
            </div>

            <div class="py-4" *ngIf="pages && pages.length == 0">   
                <p>La reproduction de l'original est interdite.</p>
            </div>


        </div> <!-- end column left -->

    </div> <!-- end row -->


</div>