@import 'src/styles.scss';


.liPart {
    display: none;
}


.readTheText {
    margin: 8% 0 10% 0;
}

#panelInfo {
    margin: 12% 0 0 0;
}

#selectorPart {
    width: 50%;
    text-overflow: ellipsis;
}

.msDescItem {
    text-indent: -30px;
    margin-left: 30px;
}

.viewer {
    width: 80%;
}

.page {
    background-image: url("/assets/img/olivier-flou.png");
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 1 / 1;
}

.page-img {
    width: 100%;
}

.selects {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}